[2021-07-06 03:34] keweilizhe opened #6 "vscode search can find this version now,"
we can find your sftp plugin in the search window now,
maybe we can update the installing step on readme.

![image](https://user-images.githubusercontent.com/13547613/124538213-d443e700-de4d-11eb-9048-24723ac11c40.png)

[2021-07-06 03:42] Natizyskunk commented on #6
I've just done so :)

[2021-07-06 03:42] #6 closed

[2021-07-06 12:52] miteshcirkle opened #7 "Buffering on save file after 15 minute"
A bug still here. If I not save a file for 15 min. connection rest by server and after 15 min. I try to save file, cause this buffering.

Log:
![ss](https://user-images.githubusercontent.com/81144583/124602813-dc6c4880-de86-11eb-9791-f3ef4ed65ee7.png)

[07-06 18:08:59] [debug] Outbound: Sending CHANNEL_DATA (r:0, 40)
[07-06 18:08:59] [debug] SFTP: Outbound: Buffered MKDIR
[07-06 18:09:01] [trace]

[2021-07-06 15:52] Natizyskunk commented on #7
Hello, can you activate the debugging feature, and give me the output when you've this error ?

1.  Open User Settings.
    - On Windows/Linux - `File > Preferences > Settings`
    - On macOS - `Code > Preferences > Settings`
2.  Set `sftp.debug` to `true` and reload vscode.
3.  View the logs in `View > Output > sftp`.

PS: Changing this requires VSCode to reload.

[2021-07-06 21:41] Natizyskunk commented on #7
There is some more informations i can provide to you:

Sadly as it's seems to be server related, i can't do much.

[2021-07-06 22:50] #7 closed

[2021-07-07 03:19] miteshcirkle commented on #7
Yes you are right server drop their connection after 10 mins or so of idleness.

but:

This same server work perfectly with other IDE or code editor like sublime text 3.
In sublime editor if sftp not able to connect within 30 seconds then sublime try to reconnect again.

[2021-07-07 03:24] miteshcirkle commented on #7
I some of my buddies working in phpstorm and same server work perfectly.

Is it possible to make same working of this extension as sftp working in sublime and phpstorm.

[2021-07-07 07:14] miteshcirkle opened #8 "Infinite spinner on file save after server rest connection with client."
**feature request related to a problem**
Yes you are right server drop their connection after 10 mins or so of idleness.
But this same server work perfectly with other IDE or code editor like sublime text 3.

The problem is this SFTP show spinner till you not reload vs code. If SFTP did not get any response on file save within 30 seconds then it should retry to connect.

**Solution**
In sublime ed

[2021-07-07 18:30] dexamenos opened #9 "cannot upload with private key"
**Do you read the FAQ?**
- [X] Yes.
- [ ] [I am going to read now.](https://github.com/Natizyskunk/vscode-sftp/blob/master/FAQ.md)

**Describe the bug**
Upload on save does (still) not work, error is:
[code]

**To Reproduce**
Hit save, observe error, see output tab

**Expected behavior**
Save and upload works w/o error

**Screenshots**
–

**Desktop (please complete the following information):**
 -

[2021-07-07 22:23] Natizyskunk commented on #7
I'll take a look at it but i can't promise you anything :/

[2021-07-07 22:49] Natizyskunk commented on #9
it seems to be an error on your end. I can't reproduce it. Personnally uploading via a private key is working perfectly fine for me.

I've some questions for you :
- why is there <removed> and <link/to/my/file>.php in your filepath ? Have you modified it before opening your issue ?
- Same, why is there <removed> in most of your parameters ?
- Have you added your local PC ssh public key in your ser

[2021-07-07 22:59] Natizyskunk commented on #8
Have you tried to just do a simple CTRL+S inside a file even after the error is displayed ? As I said in my last answer, it should still save and upload the file correctly on the server. Even if you have an "Error" message, it's just an bug since your server isn't able to send back a comprehensive response to the SFTP extension.

[2021-07-08 08:47] isaumya opened #10 "Unable to connect to SFTP"
I have the following config in my `sftp.json` inside the `.vscode` folder:

[code]

But when I try to connect the connection is always getting timed out. On the other hand when I use the exact same details in FileZilla it works perfectly. In FileZilla after I connect, I get a popup like this which I need to accept in order to connect:

![Filezilla screenshot](https://i.imgur.com/bpKw9nZ.png)

But

[2021-07-08 09:28] miteshcirkle commented on #8
Yes, I have tried to save file but it not save to server once it  start this spinner.

![](https://user-images.githubusercontent.com/81144583/124602813-dc6c4880-de86-11eb-9791-f3ef4ed65ee7.png)

Please try to implement this solution if possible.

[2021-07-08 09:29] miteshcirkle commented on #8
Solution
In sublime editor if sftp not able to save file within 30 seconds then sublime try to reconnect again. I suggest to implement this same solution.

[2021-07-08 13:51] dexamenos commented on #9
Hi, and merci for the swift reply.

As already stated, I'm left puzzled.

To your questions:

* Why do I have `<removed>` there? So: I just removed my real username, my real file name and my real hostnames from the public, so please consider everything in between `<`...`>` as "edited for privacy"
1. of course is my pub key inside the server's authorized list; as I have stated, the connection also

[2021-07-09 02:25] Natizyskunk commented on #8
Can you update to the latest 1.13.3 version and try those things ?
1. Try adding those parameters to your sftp.json config file :
[code]
2. [FAQ - Error: Failure - Solution Two](https://github.com/Natizyskunk/vscode-sftp/blob/master/FAQ.md#error-failure---solution-two)
3. [FAQ - ENFILE: file table overflow ... - Solution for MacOS harsh limit](https://github.com/Natizyskunk/vscode-sftp/blob/master

[2021-07-09 02:25] AlexMarcoDAngelo opened #13 "Gae it another try and still nothing :("
Back in the day loved the original SFTP, so now when I saw it is resurrected, I tried to use it again. Sadly, the error it gives me doesn't mean anything to me, so any help from anyone would be appreciated!
The debug shows only this:
    [07-08 22:21:45] [debug] > AUTH TLS
    [07-08 22:21:45] [debug] < '234 AUTH TLS OK.\r\n'
After which a pop-up message shows this:
    "Hostname/IP does not match

[2021-07-09 02:46] Natizyskunk commented on #13
Can you give me more details ?

Please reffer to the [issue template](https://github.com/Natizyskunk/vscode-sftp/blob/master/.github/ISSUE_TEMPLATE/bug_report.md) please.

[2021-07-09 02:52] Natizyskunk commented on #9
After some researches, Sadly I haven't found anything about your problem as you're the only one who have it and i'm not able to reproduce it.
To be clear, on my end I can connect to different servers via FTPS, SFTP or SSH on default port 21, 22 or custom port with username/password or with username/private_key.

The only thing i can think of is that maybe you're using some non-supported algorithm

[2021-07-09 03:01] Natizyskunk commented on #10
Do you have defined all the needed parameters ?

Please try this config :
[code]

Have you tried to connect via an SSH key ?
1. Create an SSH key on your local PC.
2. Add your local PC SSH public key inside your server "authorized_key" file. Don't forget to change permissions and ownership on your server : `chmod 600 ~/.ssh/authorized_keys` & `chown -R <username>:<username> ~/.ssh`.
3. On your loc

[2021-07-09 04:51] miteshcirkle commented on #8
No buddy, it does not work.
I already added this options.

[07-09 10:10:06] [info] [file-save] c:\Project\Controller.php
[07-09 10:10:06] [trace] handle upload file for c:\Project\Controller.php
[07-09 10:10:06] [debug] Outbound: Sending CHANNEL_DATA (r:0, 50)
[07-09 10:10:06] [debug] SFTP: Outbound: Buffered MKDIR
[07-09 10:10:08] [debug] Outbound: Sending ping (GLOBAL_REQUEST: keepalive@openssh.

[2021-07-09 06:24] isaumya commented on #10
Hey @Natizyskunk,

Yes I have. I have been using the original extension created by liximomo for many years and I am not new to this.  All parameters are added properly and in fact this same c onfig was working till yesterday when I was using the patched version of liximomo plugin without a single issue. It's only when I uninstalled that extension and installed yours the connection started failing

[2021-07-09 09:43] dexamenos commented on #9
@Natizyskunk : you might now officially beat me. 🤪🥊

I have solved the issue and it actually turned out to be on my end.
**Disabled Litte Snitch** and everything works like a charm. 👍

I will still have to look into the details, as the VSCode binary was set to "allow all connection".

Merci beaucoup for spending your time!

[2021-07-09 09:43] #9 closed

[2021-07-09 09:47] eymerich opened #14 "Getting "Error with the transfer direction. Direction seems not to be local to remote." on remote -> local"
**Do you read the FAQ?**
- [X] Yes.
- [ ] [I am going to read now.](https://github.com/Natizyskunk/vscode-sftp/blob/master/FAQ.md)

**Describe the bug**
Each file (local and remote both existing) or folder I try to donwload I got the same error:
**Error with the transfer direction. Direction seems not to be local to remote.**

Looking in the git blame for transfer.ts seems like you have put a swit

[2021-07-09 17:25] Natizyskunk commented on #14
My bad that's an error from me, as a temporary solution you can download the previous release v1.13.2 [here](https://github.com/Natizyskunk/vscode-sftp/releases/tag/v1.13.2) and do the manual installation. I'll fix it when I'm back home later today.

[2021-07-09 17:33] Natizyskunk commented on #10
It's strange since I haven't change anything regarding the connection process. I've only bumped the ssh2 package to the v1.1.0 and added a switch to verify local files are saved before uploading them. I don't get why it work with liximomo's version but not mine.

Could you try this :
1. Uninstall extension from vscode.
2. Close vscode and go to `C:/Users/<username>/.vscode/extensions`.
3. In here

[2021-07-09 17:35] Natizyskunk commented on #8
After some research it seems to be related to the ssh2 package that is required in the package.json. Could you open a issue on his github project?

[2021-07-09 17:37] Natizyskunk commented on #9
I'm glad that you find a solution. Can you give me more infos about Litte Snitch as I don't know this program?

[2021-07-09 18:12] dexamenos commented on #9
Little Snitch is basically an outgoing firewall. It is used to block outgoing traffic.

See here for more details https://obdev.at/products/littlesnitch/index.html

I would assume that it is quite popular among Mac Users.

You can block specific hostnames, ports or IP addresses for every binary. Although my VSCode was set to "allow all traffic" I must have messed up some rules and set some to deny

[2021-07-09 18:28] AlexMarcoDAngelo commented on #10
Why are we talking about an SSH key at all?? I have never had to deal with such thing before and I don’t want to start – it’s FTP protocol after all. If it works great with FileZilla, shouldn’t it work with this extension ?!

From: Natan FOURIÉ ***@***.***>
Sent: Thursday, July 8, 2021 11:02 PM
To: Natizyskunk/vscode-sftp ***@***.***>
Cc: Subscribed ***@***.***>
Subject: Re: [Natizyskunk/vscode-sf

[2021-07-09 18:34] AlexMarcoDAngelo commented on #13
Do you read the FAQ?
 **Yes.**

Describe the bug A clear and concise description of what the bug is.
  **Does not connect to the remote server**
To Reproduce Steps to reproduce the behavior:
  **Try to connect**
Go to '...'
Run command '....'
See error:
  **"Hostname/IP does not match certificate's altnames: IP: 68.65.121.171 is not in the cert's list: "**
Expected behavior A clear and concise des

[2021-07-10 03:32] Natizyskunk commented on #14
Everything has been fixed now. You can download the latest version (v1.13.5) directly from marketplace or just restart your vscode.

[2021-07-10 03:42] Natizyskunk commented on #8
In the mean time i've made a temporary fix to make it easier for you to work. Normally it should not disconnect  you and if it does it should only after at least 30 mins. You can simply download the [v1.13.5-beta](https://github.com/Natizyskunk/vscode-sftp/releases/download/v1.13.5/sftp-1.13.5-beta.vsix) version [here](https://github.com/Natizyskunk/vscode-sftp/releases/tag/v1.13.5) and follow the

[2021-07-10 03:55] #14 closed

[2021-07-12 06:21] isaumya commented on #10
Hey @Natizyskunk,
I did exactly as you asked (deleted all instances of the extension) and just now fresh installed the latest version of your extension i.e. v1.13.5 but unfortunately, the problem persists over SFTP and working fine on normal FTP.

I've also seen that this problem is happening with a few servers only. Not all servers. Yet the same SFTP details are working fine on Filezilla and WinS

[2021-07-12 12:07] miteshcirkle commented on #8
*Not Solved*

[2021-07-12 13:55] AlexMarcoDAngelo commented on #13
Trying now with a KEY (which I never had to do before btw).. SFTP extension keeps closing the connection:

[07-12 09:53:03] [info] config at d:\OneDrive\Websites\leonardomedicine_com {"remotePath":"/home/tarahost/leonardomedicine","uploadOnSave":true,"downloadOnOpen":false,"ignore":[".vscode",".git",".DS_Store",".well-known",".rar"],"concurrency":4,"protocol":"sftp","connectTimeout":10000,"interac

[2021-07-12 15:57] Natizyskunk commented on #9
Thanks for those informations, I'll take a look at it 🙂

[2021-07-12 16:01] Natizyskunk commented on #10
For me the only thing i can think of right now is that this bug has been introduce with the update of the ssh2 package version to v1.1.0. I think so cause you say it was working fine with liximomo's one that uses v0.8.5 and between his version and mine the only changes are thoses :
[code]
As you can see, there is nothing that I've changed that's messing up with the connection protocols or anything

[2021-07-12 18:09] isaumya commented on #10
Hi @Natizyskunk,
What you are saying is totally possible, but I don't know how to resolve that. Do you have any idea?

No I am not. As I said the SFTP details are working file on FileZilla and WinSCP but not working via the extension. But FTP is working.

But when I used the liximomo's version with manually editing the JS code to ensure that the "no such file" issue is fixed, there was no issue th

[2021-07-13 15:18] Natizyskunk commented on #10
@isaumya,

This could confirm that the error has been introduce with the ssh2 package update to v1.1.0.

As a test to verify that you can try this :
1. Uninstall SFTP extension from vscode.
2. Close vscode and go to `C:/Users/<username>/.vscode/extensions`.
3. In here remove all references to the SFTP extension. Liximomo's one and Natizyskunk's one.
4. Re-open vscode and install latest liximomo's

[2021-07-14 06:11] jenish-rudani opened #15 "Gettting Error: Failure"
**Do you read the FAQ?**
- [x] Yes.

**Describe the bug**
A clear and concise description of what the bug is.
File not being transferred to Remote Device. Throws Following Error

[07-14 11:38:58] [debug] register command "Cancel All Transfer" from "./commandCancelAllTransfer.ts"
[07-14 11:38:58] [debug] register command "Config" from "./commandConfig.ts"
[07-14 11:38:58] [debug] register command "

[2021-07-14 06:23] isaumya commented on #10
Hey @Natizyskunk,
First of all, after I installed the liximomo's version of extension that is coming with ssh2 v0.8.5, I can confirm that the SFTP is working perfectly on the server that was giving the issue.

![ss20.8.5](https://i.imgur.com/IYbjN4Y.png)

Now when I updated `ssh2` to v1.1.0 as you suggested above, I can confirm that I'm getting the exact same issue that I am getting with your exte

[2021-07-14 22:23] kripper opened #16 "Support temp files creation when uploading (and then move over dest file to not break the site while uploading)"
Hi Natizyskunk, thanks for reviving this critical plugin.

This is a simple and usefull feature that avoids breaking a site (eg. a PHP web site) when a user acceses the page while a file is still being uploaded (is incomplete).

Netbeans does somehting like:

1. upload my-file.php.tmp
2. mv my-file.php.tmp my-file.php

Since the "mv" command is atomic, the site won't throw a syntax error while it'

[2021-07-15 04:08] phamminhkhac opened #17 "FTPS still not work"
i try
`{
    "name": "My Server",
    "host": "my.domain.com",
    "protocol": "ftp",
    "port": 990,
    "secureOptions": {
        "rejectUnauthorized": false
    },
    "secure": true,
    "username": "myusername",
    "password": "123123",
    "remotePath": "/",
    "uploadOnSave": true
}`
I also try secure = false and rejectUnauthorized = true but not work

Still connect normally via winscp

[2021-07-15 06:48] isaumya commented on #17
I'm pretty sure this is for ssh2 v1.1.0 as well, what do you think @Natizyskunk ?

[2021-07-15 23:13] Natizyskunk commented on #16
I don't really get it, a file upload take less than a second to be done so even if a user accesses a page while a file is still being uploaded, how could he get an error ? It should not even give one since the file should be uploaded as soon as it is saved.

I'm missig or missunderstanding something ?

[2021-07-15 23:24] Natizyskunk commented on #10
Nice, now we are moving forward.
I'm gonna open an issue on @mscdex ssh2 github to see if he can help me to fix this issue.
For now the only advise i can give you is to stay with liximomo's v0.8.5 and add this fix not get the "No such file or directory" error : [Fix streams autoDestroy, Node 14 major change #1009](https://github.com/mscdex/ssh2/pull/1009/files)

[2021-07-15 23:27] Natizyskunk commented on #17
@phamminhkhac,

This error has been maybe introduce with the ssh2 package update to v1.1.0.

As a test to verify that you can try this :
1. Uninstall SFTP extension from vscode.
2. Close vscode and go to `C:/Users/<username>/.vscode/extensions`.
3. In here remove all references to the SFTP extension. Liximomo's one and Natizyskunk's one.
4. Re-open vscode and install latest liximomo's version, not

[2021-07-15 23:34] Natizyskunk commented on #15
Have you correctly configured your sftp.json config file ?

In the LOGs you gave me, it seems that you haven't defined your username and password as it show `Client: none auth failed` and `"username":"","password":""`.

Can you verify that there are actually defined ?

Also could you try this and see if you still have the error :
1. Uninstall extension from vscode.
2. Close vscode and go to `C:/Us

[2021-07-15 23:36] Natizyskunk commented on #13
Have you correctly configured your sftp.json config file ?

Also could you try this and see if you still have the error :
1. Uninstall extension from vscode.
2. Close vscode and go to `C:/Users/<username>/.vscode/extensions`.
3. In here remove all references to the SFTP extension. Liximomo's one and Natizyskunk's one.
4. Re-open vscode and install latest version from the marketplace.

Please give

[2021-07-15 23:37] Natizyskunk commented on #8
@miteshcirkle,

This error has been maybe introduce with the ssh2 package update to v1.1.0.

As a test to verify that you can try this :
1. Uninstall SFTP extension from vscode.
2. Close vscode and go to `C:/Users/<username>/.vscode/extensions`.
3. In here remove all references to the SFTP extension. Liximomo's one and Natizyskunk's one.
4. Re-open vscode and install latest liximomo's version, not

[2021-07-16 01:45] phamminhkhac commented on #17
If I don't modify the version to 1.1.0 and then `npm i`, no error appears
but I got error like this if `npm i' with version 1.1.0

ssh2@1.1.0 install C:\Users\Anynomous\.vscode\extensions\liximomo.sftp-1.12.9\node_modules\ssh2
node install.js

C:\Users\Anynomous\.vscode\extensions\liximomo.sftp-1.12.9\node_modules\ssh2\lib\protocol\crypto>if not defined npm_config_node_gyp (node "C:\Program Files\

[2021-07-16 05:51] miteshcirkle commented on #8
**Still same problem**

[2021-07-16 08:10] kripper commented on #16
Hi Natizyskunk,

Believe me, it happens and is very common.

When the user accesses the site while the file is being uploaded (1 or 2 second depending on the file size and bandwidth), the php engine will process an incomplete php page and throw syntax errors or missing functions.

If it's a production site with hundreds or thousands users, you will always cause errors and noise on customers withou

[2021-07-16 12:30] Natizyskunk commented on #17
I see, this error is not something that stop the extension from working, it's just telling you that it's missing some crypto-bindings but as they are optional this is not a problem.
If you really want to fix this you can follow these instructions :
1. Install Visual C++ Build Environment: Visual Studio Build Tools (using "Visual C++ build tools" workload).
2. Install Python 2.7 (v3.x.x is not supp

[2021-07-16 12:32] Natizyskunk commented on #17
When done so please give me some feedback and tell me if you still encoutered the bug you open this issue for.

[2021-07-16 12:55] Natizyskunk commented on #16
Wait a minute, you're modifying files directly on a production server without using a versioning service like GIT ?... 😲

If I follow what you're saying, how are versioning service like GIT doing to not encounter this problem ?  Are thery also using a temporary file solution ?

For the atomic part of the `mv` command, that's what i can find about it :
- `mv` is not always atomic.
- `mv` is only at

[2021-07-16 13:01] Natizyskunk commented on #8
@miteshcirkle,
Ok I see, now we are moving forward. this confirms that the problem has been introduce with the new ssh2 v1.1.0 update.
As it seems that the bug is coming from the new ssh2 update, I'm gonna open an issue on @mscdex github to see if he can help me to fix this.
For now the only advise i can give you is to stay with liximomo's v0.8.5 and add this fix not get the "No such file or direc

[2021-07-16 15:25] kripper commented on #16
Yes, that's right, but sometimes you just need to make a little change on a single file on production. For example, when you change a config.php file.

Since mv is atomic per file, it's fine to use it.

Note that NetBeans does this by default and if you want to disable this feature you have to check the option "Upload file Directly (temporary file is not used). File transfer is faster but less saf

[2021-07-16 15:41] andy-sixtystores opened #19 "FTP - Active Mode"
**Is this a similar or duplicate feature request?**
- [ ] I don't know. I will go check it.
- [x ] No.

**Is your feature request related to a problem? Please describe.**
We are unable to upload to a server that does not support passive mode.

**Describe the solution you'd like**
Add an option to change the connection mode for FTP, so users can change to active mode if required.

**Does this proje

[2021-07-17 03:09] Natizyskunk commented on #19
@mscdex,
Could you, please, take a look at it ?  It seems to be related to your node-ftp module. I can read in the TODO.md that `Active (non-passive) data connections` seems to be something that still need to be done.
Would love to here you back.

[2021-07-19 02:19] phamminhkhac commented on #17
It works!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

[2021-07-19 02:20] #17 closed

[2021-07-19 05:07] Mickeywaugh opened #20 "Timed out while waiting for handshake"
[07-19 13:05:42] [debug] Custom crypto binding not available
[07-19 13:05:42] [debug] Client: Trying 172.24.202.215 on port 22 ...
[07-19 13:05:42] [debug] Local ident: 'SSH-2.0-ssh2js1.1.0'
[07-19 13:05:42] [debug] Socket connected
[07-19 13:05:42] [debug] Remote ident: 'SSH-2.0-OpenSSH_5.3'
[07-19 13:05:42] [debug] Outbound: Sending KEXINIT
[07-19 13:05:42] [debug] Inbound: Handshake in progress

[2021-07-19 07:04] fabrazer commented on #20
I got the same issue. Also tested it with v1.14.0-beta -> same issue.

[2021-07-19 11:22] Natizyskunk commented on #17
I'm glad to hear that 😀

[2021-07-19 11:27] Natizyskunk commented on #20
Check the connection of your server.  Also try a larger connectTimeout value.
I personnaly use `"connectTimeout": 1800000`.

[2021-07-19 11:46] fabrazer commented on #20
Increased connect timeout works for me. Thank you!

[2021-07-19 11:50] Natizyskunk commented on #20
Cool, no problem :)

[2021-07-19 11:50] #20 closed

[2021-07-19 11:54] fabrazer commented on #20
Maybe you can also increase the default connectTmeout to 1800000?  :)

[2021-07-19 11:57] Mickeywaugh commented on #20
I switched to version 1.12.9 , it works normal.

[2021-07-19 12:01] Mickeywaugh commented on #20
My sftp.json  structure as below:
`[
    {
        "name": "composite",
        "context": "composite/",
        "protocol": "sftp",
        "port": 22,
        "username": "root",
        "password": "password",
        "remotePath": "/",
        "uploadOnSave": true,
        "passive": true,
        "ignore": [
            ".vscode",
            ".idea",
            ".DS_Store"
        ],

[2021-07-19 20:39] iaeiou opened #21 "Clarify the differences with the fork by viperet"
Hello there,

thanks for keeping `vscode-sftp` alive.

There are two different forks actively developed, could you please explain the differences/similarities with [this other fork](https://github.com/viperet/vscode-sftp-revived)?

Thank you

NB: the same question was asked there: https://github.com/viperet/vscode-sftp-revived/issues/6

[2021-07-20 00:04] Natizyskunk commented on #21
I'm trying to actively maintain this extension and fixing every problem that has been introduce since the update of the ssh2 package to v1.1.0. As you can see, it seems that my version is the most up to date as it seems that it's been at least two months since viperet haven't made any update/commits and he's also not responding to open issues but feel free to use the one you prefer 🙂

[2021-07-20 00:17] #21 closed

[2021-07-20 01:33] Mickeywaugh commented on #20
I tried to set "connectTmeout=180000", it not works,logs asbelow:
``
[07-20 09:22:03] [debug] Handshake: S->C compression: none
[07-20 09:22:03] [debug] Outbound: Sending KEXDH_GEX_REQUEST
[07-20 09:22:03] [debug] Received DH GEX Group
[07-20 09:22:25] [debug] Outbound: Sending KEXDH_GEX_INIT
[07-20 09:22:25] [debug] Received DH GEX Reply
[07-20 09:22:25] [debug] Received DH Reply
[07-20 09:22:25]

[2021-07-20 01:41] Mickeywaugh commented on #20
OK， I got the root cause, It's my fault.

[2021-07-20 06:45] fabrazer commented on #20
@Mickeywaugh what caused the timeout in your case?

[2021-07-20 07:51] Mickeywaugh commented on #20
password changed in sftp.json....

[2021-07-20 09:45] liuxiangxin opened #22 "Unable to save or upload file"
**Do you read the FAQ?**
- [ √] Yes.
- [ ] [I am going to read now.](https://github.com/Natizyskunk/vscode-sftp/blob/master/FAQ.md)

development environment
![image](https://user-images.githubusercontent.com/87697785/126300652-a753fa5f-b527-4b6e-a633-6e420a7d1c24.png)

sftp.json
![image](https://user-images.githubusercontent.com/87697785/126301138-2d24f3eb-4a52-4fb7-a978-10edf20a06b1.png)

sftp de

[2021-07-20 09:48] liuxiangxin commented on #22
After auto saving, it turns around all the time. After testing, other FTP programs can connect to the server normally

[2021-07-20 18:34] jenish-rudani commented on #15
Hi, So

I followed step 1 initially but It did not work.

However, after looking at your step 3, I checked .vscode dir on my machine and indeed there were two copies of the same SFTP available.
1. Natizyskunk's
2. Liximomo's

So, I removed both dir from .vscode/extensions and then installed yours again freshly.

It worked wonderfully, Thanks. My issue is resolved now.

[2021-07-20 18:34] #15 closed

[2021-07-20 21:59] Natizyskunk commented on #15
I'm happy to hear that 😀

[2021-07-20 22:18] Natizyskunk commented on #16
Ok I see, I'm gonna look at it and try my best to implement this feature.

[2021-07-20 22:18] Natizyskunk commented on #22
Firstly I know it sound a littlbe bit stupid but check that your sftp.json config file is correctly configured, then verify that you only have one instance of the SFTP extension installed? Only mine and not also liximomo's one. Do do that just take à look inside `C:\Users\<username>\.vscode\extensions`.

Also please try adding those lines to your sftp.json config file :

[code]

Notes :
- For the

[2021-07-29 09:33] Shirobaka opened #23 "Problem with files which name contains umlauts"
**Do you read the FAQ?**
- [X] Yes.
- [x] [I am going to read now.](https://github.com/Natizyskunk/vscode-sftp/blob/master/FAQ.md)

**Describe the bug**
While downloading a project, this extension seems to have problems handling files which contains umlauts in their filename, for these files i get "File or directory not found".

**To Reproduce**
Steps to reproduce the behavior:
1. Create a File on

[2021-07-31 09:51] mooseh opened #24 "Lower / uppercase bug (from liximomo days)"
**Is this a similar or duplicate feature request?**
- [x] I don't know. I will go check it.
- [x] No.

**Is your feature request related to a problem? Please describe.**
Say we have myscript.py and we rename it locally to Myscript.py
then we rename it externally as Myscript.py when you next save the file it will show as Myscript.py locally
but will save as myscript.py externally, completely ignori

[2021-08-04 09:43] lecomteb27 opened #25 "File synchronization"
**Do you read the FAQ?**
- [X] Yes.
- [X] [I am going to read now.](https://github.com/Natizyskunk/vscode-sftp/blob/master/FAQ.md)

**Describe the bug**
I don't really understand, if I delete a file or a folder on my PC,
will this deletion also be impacted on my remote space (Ionos hosting)?

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'VScode'
2. Run command 'Supprimer un fichier o

[2021-08-05 21:01] KFRANCMM commented on #13
Hello, from the debug messages you seem to have the same problem that happened to me.

The extension works fine with other SFTP servers, but one in particular is old and apparently the SSH version has not been updated. I don't know what version the server has, because I don't have access to the settings.

Looking for what was the problem, I tried to modify the allowed algorithms, except `diffie-he

[2021-08-05 22:12] Natizyskunk commented on #25
@lecomteb27,
If you're unsing the default configuration then no you'll never have files or folders deleted on your server when you delete them on your PC.

If you want to have this option to be active, you've to specify it in your `sftp.json` config file via the `watcher` parameter like so :
[code]
For the `files` option  you can use `"**/{css/style.css,js/script.js}"` to watch changes made only t

[2021-08-05 22:13] #25 closed

[2021-08-05 22:25] Natizyskunk commented on #24
@mooseh,
I understand your problem but you can easily just rename your file(s)/folder(s) locally, remove it/them externally and then upload them again from local.

For your index fie exemple :
1. Remove file on remote.
2. Rename file on local.
3. Save and upload file from local to remote.

I'm still gonna take a look at it and see what i can do.

[2021-08-05 22:39] #24 closed

[2021-08-05 22:50] Natizyskunk commented on #23
The problem come from the UNICODE format as it's not always correctly recognized.

To fix it just rename your file without any accent or special character.

Also just as a reminder, here are some basic development rules for your filenames :
- Avoind using accents as they are considered special characters (UNICODE bug).
- Don’t start or end with a space, period, hyphen, or underline.
- Keep your fi

[2021-08-05 22:50] #23 closed

[2021-08-05 22:51] #22 closed

[2021-08-05 22:53] Natizyskunk commented on #13
@AlexMarcoDAngelo,
Could you try @KFRANCMM method and see if it work ?

[2021-08-07 18:18] zmtter commented on #19
![image](https://user-images.githubusercontent.com/87307698/128610234-d4eef4a2-9a6d-4af9-8c53-583d69d23ce6.jpeg)

[ Note： context and watcher are only available at root level. ]

Is there any plan to support this feature?  I really need it

[2021-08-07 18:24] kripper commented on #16
Hi Natizyskunk, did you get to take a look at it?

[2021-08-08 00:03] Natizyskunk commented on #16
Yes but i haven't been able to find an easy way to implement it. I'm still struggling with understanding how the extension is coded and which dependecies it relies on for specific functions to work.

[2021-08-08 00:10] Natizyskunk commented on #19
@zmtter,
Please open a new issues using the `feature_request` issue template [here](https://github.com/Natizyskunk/vscode-sftp/blob/master/.github/ISSUE_TEMPLATE/feature_request.md).

Don't forget to specify exactly what you're looking for and be more precise with your question.

[2021-08-08 02:48] zmtter opened #26 "Hope the `watcher` can listening all files，available at all level"
**Is this a similar or duplicate feature request?**
- [ ] I don't know. I will go check it.
- [x] No.

**Is your feature request related to a problem? Please describe.**
According to the `readme.md`, the `watcher` function of sftp only available at root level, but I want to listening all files in the root directory and its subdirectories, not just the root directory files
![image](https://user-ima

[2021-08-08 02:50] zmtter commented on #19
@Natizyskunk ok，thank you

[2021-08-08 05:02] zmtter commented on #26
There may be another problem. Use ftp, open `watcher`, only synchronize files in the root directory, not folders. When using sftp, all files will be synchronized, regardless of whether these files are modified or not, they will be resynchronized to the remote

[2021-08-08 05:04] zmtter commented on #26
可能还有一个问题，使用ftp并开启`watcher`，只同步根目录的文件，不同步文件夹。使用sftp并开启`watcher`时，会同步所有文件，无论这些文件是否进行了修改都会重新同步到远程

[2021-08-09 13:05] kripper commented on #16
Ok, I'm going to help you. Just give me a quick intro please.
I forked and cloned your repo, and copied the folder inside the .vscode\extensions folder.
After restarting Visual Code, the extension is visible as "installed" but the extension commands were not loaded.
How did you setup your environment?

[2021-08-10 01:48] ericzhao007 opened #27 "Timed out while waiting for handshake"
**Screenshots**
![image](https://user-images.githubusercontent.com/21306882/128796088-37c77f7d-9669-4ed3-ac33-c653a8e6552e.png)

**Desktop :**
 - OS: Mac
 - VSCode Version [e.g. 1.59.0]
 - Extension Version [e.g. 1.14.0]

[2021-08-12 01:42] junfengshow opened #28 "All configured authentication methods failed"
Error: [116.62.145.208]: All configured authentication methods failed
	at Client.<anonymous> (c:\Users\Admin\.vscode\extensions\natizyskunk.sftp-1.14.0\dist\extension.js:61:100690)
	at Client.emit (events.js:327:22)
	at doNextAuth (c:\Users\Admin\.vscode\extensions\natizyskunk.sftp-1.14.0\node_modules\ssh2\lib\client.js:784:14)
	at tryNextAuth (c:\Users\Admin\.vscode\extensions\natizyskunk.sftp-1.

[2021-08-12 12:27] fabrazer commented on #27
Maybe just try a lager timeout as mentioned here #20

`"connectTimeout": 1800000`

[2021-08-13 01:13] kripper commented on #16
Ok. I'm going to send a pull request.

[2021-08-13 07:51] ericzhao007 commented on #27
The same configuration can work under liximomo/vscode-sftp.

[2021-08-13 07:52] ericzhao007 commented on #27
`[08-13 15:49:04] [error] Error: [xxx]: Timed out while waiting for handshake
	at Client.<anonymous> (/Users/xxx/.vscode/extensions/natizyskunk.sftp-1.14.0/dist/extension.js:61:100690)
	at Client.emit (events.js:327:22)
	at Timeout._onTimeout (/Users/xxx/.vscode/extensions/natizyskunk.sftp-1.14.0/node_modules/ssh2/lib/client.js:995:16)
	at listOnTimeout (internal/timers.js:554:17)
	at processTimer

[2021-08-13 07:54] ericzhao007 commented on #27
this is my config:
{
    "name": "My Server",
    "host": "localhost",
    "protocol": "sftp",
    "port": 22,
    "username": "xxxx",
    "privateKeyPath": "~/.ssh/xxx_158",
    "remotePath": "/webroot/phpsrc/xxx",
    "password": "xxx",
    "passphrase": "xxx",
    "uploadOnSave": true,
    "ignore": [".vscode", ".git", ".DS_Store"],
    "profiles" : {
       "baike_158" : {
            "host":

[2021-08-13 11:47] kripper commented on #16
See https://github.com/Natizyskunk/vscode-sftp/pull/29

[2021-08-13 23:50] vincent1890 opened #30 "THANK YOU for the resumption of the project vscode-sftp"
Hello

Thank you for the resumption of the project which for more than two years is dormant and is no longer maintained by its original creator unfortunately, despite a huge potential and need of it.
I hope that you will take up the torch for a long time and continue and maintain this super extension.

Nothing that your update v1.14.0 is awesome and time expected and requested since time to liximo

[2021-08-14 10:25] rightdroid commented on #16
Just wanted to say thanks for picking this extension up. I had a go at it myself (with the aim of introducing more functionalities), but it took more brain twisting than I had time and energy for.

[2021-08-14 12:22] rightdroid opened #31 "Upload active file (external to project) to selected folder"
**Is this a similar or duplicate feature request?**
- [ ] I don't know. I will go check it.
- [x] No.

**Is your feature request related to a problem? Please describe.**
Cannot upload a file that is not necessarily in your project folder to remote project. Ideally would work by using right click menu on a folder in Remote Explorer view. In Notepad++ you can have a file open (resides in temp folder

[2021-08-16 12:23] linjialiang opened #32 "Whether to support passive mode"
Whether to support passive mode

[2021-08-16 12:42] linjialiang commented on #32
I'm wrong, it doesn't support active mode

[2021-08-19 11:28] ericzhao007 commented on #27
I solved the problem with the following configuration.

[2021-08-19 11:28] ericzhao007 commented on #27
"algorithms": {
        "kex": [
            "ecdh-sha2-nistp256",
            "ecdh-sha2-nistp384",
            "ecdh-sha2-nistp521",
            "diffie-hellman-group14-sha1"
        ],
        "cipher": [
            "aes128-ctr",
            "aes192-ctr",
            "aes256-ctr",
            "aes128-gcm",
            "aes128-gcm@openssh.com",
            "aes256-gcm",
            "aes256-gcm@

[2021-08-20 01:58] #27 closed

[2021-08-23 09:57] ericzhao007 commented on #27
This may be an old question [https://github.com/liximomo/vscode-sftp/issues/883#issuecomment-778684682](url)

[2021-08-23 11:31] Shirobaka opened #34 "TypeError since last update (The "fd" argument must be of type number.)"
**Do you read the FAQ?**
- [X] Yes.
- [x] [I am going to read now.](https://github.com/Natizyskunk/vscode-sftp/blob/master/FAQ.md)

**Describe the bug**
Since the last update downloading won't work anymore

**To Reproduce**
Steps to reproduce the behavior:
With downloadOnOpen on true:
1. Open the File
This happens too when you try to download a file manually

**Expected behavior**
File should be d

[2021-08-23 12:45] petrsimunek opened #35 "Permission denied since last update"
After last update I am receiving Permission denied when uploading to server.

Target server Win2019 with OpenSSH
Files are PHP files.
I checked persmissions and rights on the server and these are OK.
I tried to manipulate the files over winSCP with the same account, and I have full rights on the server.

After upload a new file in target folder is created with ".new" extension, but not renamed to

[2021-08-23 14:17] mrjcgoodwin commented on #34
Yep getting this too and extension crashing on loading VS code.

[2021-08-23 14:43] FM-O commented on #35
Hi @petrsimunek !
I ran into several issues with the new update too. If your problem is with the "new" extension added to uploaded files/folders, it's about the feature deployed with the last release.
See changelog here : https://github.com/Natizyskunk/vscode-sftp/releases/tag/v1.15.0
You can either downgrade your version to 1.14.0 (which I recommend since the last release seems not stable) or dea

[2021-08-23 15:31] petrsimunek commented on #35
Hi @FM-O ,

yes. Downgrading solves the issue. I just tried to upgrade back to 1.15.0 again and set the useTempFile false settings, and this works too. Thanks :-)

But I think, that this should be fixed anyway. :-)

[2021-08-23 15:59] codivist commented on #34
Also getting this when I right click on a folder and click on `Sync Remote -> local`
as well as right clicking on a file and clicking `Download`

I get the following error in the output tab:
[code]

[2021-08-23 16:50] Mr-KayJayDee commented on #34
Also getting this error with the same error message as everyone here

[2021-08-23 19:16] JoelLisenby commented on #34
Same error is occuring for me when downloading a *.log file.

[code]

[2021-08-23 21:54] devpremium opened #36 "Error: No such file"
**Describe the bug**
Sometimes this error happens and the notification appears.

**Screenshots**
![image](https://user-images.githubusercontent.com/52453013/130524415-623960b5-e279-4cc4-801d-884114303ecf.png)

**Desktop (please complete the following information):**
win 11, vscode last

[2021-08-23 23:05] hendrikbursian commented on #36
Hey, I'm facing the same issue. I'm using WSL on Windows 10.

[code]

VSCode About
[code]

I remember that error from [liximomos version](https://github.com/liximomo/vscode-sftp) and switched to see it fixed.

The workaround for liximomos version was to replace the following condition in the `ssh2-streams` library in the `node_modules` folder of the extension:

`errorCode === STATUS_CODE.OK` with

[2021-08-23 23:18] Natizyskunk commented on #36
@hendrikbursian,

Sorry to see this but as you just said, this error come from the external ssh2 dependency and i can't do much on my side since i'm not the creator of it. I'll try to get in touch with his developer to find a way to fix this.

In the meantime if you find any fix, feel free to create a pull request on a new branch.

[2021-08-23 23:24] Natizyskunk commented on #30
Thx, it means a lot to me. I'm trying my best to maintain this extension even if i'm not really a vscode extension developer ^^
I'll take the time i can to look at the issues and fix everything I can.
Also feel free to help by making pull requests on new branches 😉

[2021-08-24 03:17] Natizyskunk commented on #34
please use older 1.14.0 version since i'm working on a fix.

@kripper, can you please take a look at it ? It seems to come from the implementation you added in the `scr/core/transfertTask.ts` file.

[2021-08-24 03:19] Natizyskunk commented on #35
please use older 1.14.0 version since i'm working on a fix.

@kripper, can you please take a look at it ? Seems to be the same problem as the issue [#34](https://github.com/Natizyskunk/vscode-sftp/issues/34#issuecomment-904290206).

[2021-08-24 03:29] Natizyskunk commented on #31
@rightdroid ,
This is not how the SFTP extension is intended to work.

Can you give me a good example and reason to implement this feature ?
If it's really usefull, I'll keep an eye on it and try to add it in a future update.

[2021-08-24 03:29] #30 closed

[2021-08-24 03:59] fanshengshuai commented on #36
works for me, thank u !

[2021-08-24 04:17] Mickeywaugh commented on #10
I run into this issue too in 1.15.1,and sftp connection normal when I switch back to 1.14.0.
I usually do my development work on VMs, and these VMs always reinstall with same username and password as configed in sftp.json.
So when the VM reinstall, the Finger Prints is different, but the sftp extensions no reaction for this situation.
@Natizyskunk  May be, you can find a convinuent fork of  SSH2 o

[2021-08-24 06:04] Mickeywaugh commented on #10
useTempFile , this is not good idea.
I reviewed your commits from 1.14 to 1.15.1, this issue maybe cause by the codes for useTempFile.
I found serval files with .new file extension on my remote path.
It can not be unlinked and renamed successfully at remote side.

[2021-08-24 07:27] jjnxpct commented on #36
Yes this works for me to. Thanks!

[2021-08-24 07:49] infazz opened #38 ""downloadOnOpen" is added but file not downloaded on open"
**Do you read the FAQ?**
- [ X ] Yes.
- [ ] [I am going to read now.](https://github.com/Natizyskunk/vscode-sftp/blob/master/FAQ.md)

**Describe the bug**
"downloadOnOpen" is added to the config file, but opening the file not allowing to edit it right away, have to right click and "Edit in local" everytime

**To Reproduce**
Steps to reproduce the behavior:
1. Go to config and add "downloadOnOpen":

[2021-08-24 07:55] kripper commented on #35
Definitely related. It seems like there is a problem when trying to rename the .new file to target name.
Any hint to reproduce on my system?
Can you please add the extension logs?
What are the permissions of the remote files and folder?

@Natizyskunk please let's disable by default the new "useTempFile" option while we fix this issue.

[2021-08-24 07:56] kripper commented on #34
Yes, I'll fix it ASAP.

[2021-08-24 08:01] mrjcgoodwin commented on #34
It may be coincidence as only tried a few projects but I think the issue may only be occurring on projects using a password in the settings file. Project I'm working on at the moment uses an SSH key and seems ok.

[2021-08-24 08:04] Mr-KayJayDee commented on #34
That is not true, because i have two project on the same server, both using the same config, one works, the other don't.

[2021-08-24 08:06] mrjcgoodwin commented on #34
Ha - ok then please disregard!

[2021-08-24 08:08] BBvT commented on #36
Worked for me too ;-)

[2021-08-24 08:13] jjnxpct commented on #34
Is als get this error when I use 'reidt in local' of when downloading a folder:

[error] TypeError [ERR_INVALID_ARG_TYPE]: The "fd" argument must be of type number. Received undefined

I have installed the latest version 1.15.1 (Windows 10)

The files / folder does get downloaded, so everything seems to work OK, but I do get this warning.

[2021-08-24 08:22] petrsimunek commented on #35
Hi, I just noticed that extension was upgraded to 1.15.1. The difference is, that with the first attempt it shows "permission denied" and with the second attempt "no such file". The v1.15.0 gave the "permission denied" alert only.

Anyway "useTempFile" works.

I use VScode on windows with SFTP v1.15.1 now, target server is Win2019 with OpenSSH. User used in JSON config has the FULL RIGHTS on the f

[2021-08-24 08:51] Adrianilloo opened #39 "No such file or directory with latest 'useTempFile' option"
Recently syncing to my remote server started caused "missing file or directory" errors, where the local files existed. I went to check my remote machine dirs and noticed `.new` files being created, which I didn't see before. Upon quick checking repository changes I noticed the recent `useTempFile` setting, which apparently is what allowed these new temp files. My intuition told me to disable it (a

[2021-08-24 09:59] salievvm opened #40 "The "fd" argument must be of type number. Recieved undefined - error after update 1.15.0 & 1.15.1"
**Do you read the FAQ?**
- [x] + Yes.
- [x] [I am going to read now.](https://github.com/Natizyskunk/vscode-sftp/blob/master/FAQ.md)

**Describe the bug**
After syncing remote -> local i see an error. This error change the files, and my git recognize them as modified. I have centos server and i connect this from windows client.

**To Reproduce**
Steps to reproduce the behavior:
1. Update extension

[2021-08-24 10:47] FM-O commented on #39
Related issue #36

[2021-08-24 11:15] ahmetbarut commented on #36
It works. Thanks :smile: @hendrikbursian

[2021-08-24 11:42] FM-O commented on #36
@hendrikbursian
Your fix works indeed but still, the error should not occure anyway. You're walking around the error catch.

I don't think there's any problem with ssh2 dependency since it works fine with 1.14.0 version. Error raised from the package does not mean it comes from it.

**Moving back to 1.14.0** is a best option if you do not need the **useTempFile** feature.

[2021-08-24 12:14] hatifnatt commented on #36
Issue is caused by new option [useTempFile](https://github.com/Natizyskunk/vscode-sftp/wiki/Common-Config#usetempfile) which is by default is set to `true`.  To fix issue with latest (1.15.1 - 2021-08-24) version of the extension you can add
`"useTempFile": false` to your sftp configuration.

[2021-08-24 12:16] kripper commented on #16
I created a [pull request for fixing the bug](https://github.com/Natizyskunk/vscode-sftp/pull/41) and [another pull request to enable upload atomicity](https://github.com/mscdex/ssh2/issues/1054) (only supported for openSSH servers).

[2021-08-24 12:16] #16 closed

[2021-08-24 12:23] kripper commented on #35
Please test again once PR https://github.com/Natizyskunk/vscode-sftp/pull/41 is merged and released.
It seems like the "rename" command (from temp file to target file) failed because either file has wrong permissions.

[2021-08-24 12:42] jjnxpct commented on #40
I think this is a duplicate issue of #34

[2021-08-24 12:51] mansdahlstrom1 opened #43 "TypeError: Cannot read property 'handle' of undefined"
**Do you read the FAQ?**
- [x] Yes.
- [ ] [I am going to read now.](https://github.com/Natizyskunk/vscode-sftp/blob/master/FAQ.md)

**Describe the bug**
Sync Local -> Remote fails with an error.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Run command '....'
3. See error

**Expected behavior**
File should upload

**Screenshots**
If applicable, add screenshots to help explai

[2021-08-24 13:53] #34 closed

[2021-08-24 14:03] bmackenty commented on #36
I confirm this fix works.

[2021-08-24 14:38] Natizyskunk commented on #43
It's related to #34.

[2021-08-24 14:38] Natizyskunk commented on #43
Should be fixed with next update and new 1.15.2 version.

[2021-08-24 14:41] Natizyskunk commented on #34
Should be fixed with next update and new 1.15.2 version.

[2021-08-24 14:56] Natizyskunk commented on #43
Could you try new release and tell me if the bug has been fixed please ?

[2021-08-24 14:56] Natizyskunk commented on #40
Could you try new release and tell me if the bug has been fixed please ?

[2021-08-24 14:56] Natizyskunk commented on #39
Could you try new release and tell me if the bug has been fixed please ?

[2021-08-24 14:56] Natizyskunk commented on #38
Could you try new release and tell me if the bug has been fixed please ?

[2021-08-24 14:57] Natizyskunk commented on #36
Could you try new release and tell me if the bug has been fixed please ?

[2021-08-24 14:57] Natizyskunk commented on #35
Could you try new release and tell me if the bug has been fixed please ?

[2021-08-24 14:57] Natizyskunk commented on #10
Could you try new release and tell me if the bug has been fixed please ?

[2021-08-24 15:02] jjnxpct commented on #10
The new release is not on marketplace.visualstudio.com yet? How can we install this new release?

[2021-08-24 15:05] Natizyskunk commented on #10
Give it some times since it's actually uploading on the Markeplace.
It should be available in 5 to 10 mins.

[2021-08-24 15:14] hatifnatt commented on #36
It seems version 1.15.2 is working fine even with `"useTempFile": true`
@Natizyskunk thank you for the quick fix!

[2021-08-24 15:17] jjnxpct commented on #40
I have installed the new version and this issue seems to be fixed. Excellent!
I also don't have the error 'Error: No such file' anymore. #36

Thanks @Natizyskunk ! Keep up the good work!

[2021-08-24 15:23] jjnxpct opened #47 "Refresh filelist after deleting a file / folder"
**Is this a similar or duplicate feature request?**
- [ ] I don't know. I will go check it.
- [X] No.

**Is your feature request related to a problem? Please describe.**
When I delete a file of folder I need to close the explorer view (click on the top level folder) then refresh the view and go back to check if the file / folders is indeed gone. If I don;t do this the file is still showing even th

[2021-08-24 15:54] Natizyskunk commented on #47
Can you be more precise ?
As i understand, when you have your local project open in vscode, you want to be able to delete a file or a folder on your remote server and be able to see thoses changes applied in your local project ?
Exemple: Delete <remote-file> should delete <local-file> ?

If you want to see every delete from you local project to be applied on your remtoe server, you have to use the

[2021-08-24 16:16] Natizyskunk commented on #40
I'm happy to hear that ! 😁

[2021-08-24 16:16] #40 closed

[2021-08-24 16:17] Natizyskunk commented on #36
Happy to hear that ! No problem 😁

[2021-08-24 16:17] #36 closed

[2021-08-24 16:25] Adrianilloo commented on #39
Alright. Seems to work fine now. Tried re-enabling the option explicitly as I found it has recently been defaulted off, and results were successful. I could notice the `.new` files being created and then destroyed upon copy completion on my server by inmediately refreshing the list through Filezilla upon syncing.

Thank you!

[2021-08-24 16:27] Adrianilloo commented on #39
Alright. Seems to work fine now. Tried re-enabling the option explicitly as I found it has recently been defaulted off, and results were successful. I could notice the `.new` files being created and then destroyed upon copy completion on my server by immediately refreshing the list through Filezilla during syncing. Behaviour looks fine with the setting disabled as well.

Thank you!

[2021-08-24 18:20] Adrianilloo commented on #39
Extension might still not sanitized yet. I think a certain failure case is still happening. Apparently only when automatic, periodic syncing happens, the same kind of errors happen:

[code]

[2021-08-24 18:57] petrsimunek commented on #35
Hi @Natizyskunk , it works now! :-) Thanks!

[2021-08-24 19:14] Natizyskunk commented on #35
no problem, i'm glad to hear that ! 😁

[2021-08-24 19:14] #35 closed

[2021-08-24 20:43] BBvT commented on #47
I think the question is to have the sftp-explorer-view autorefresh. Without having to push the refresh-button in the sftp-explorer-view.

[2021-08-24 20:44] mansdahlstrom1 commented on #43
@Natizyskunk Seem to be working fine now! Thanks for the quick response and fix!

[2021-08-24 20:44] #43 closed

[2021-08-25 03:07] Natizyskunk commented on #43
No problem, i'm glad to hear that ! 😁

[2021-08-25 03:12] Natizyskunk commented on #16
@kripper,
Everything has been merged, thx a lot m8 !!

[2021-08-25 03:14] #13 closed

[2021-08-25 03:18] Natizyskunk commented on #13
FAQ : https://github.com/Natizyskunk/vscode-sftp/blob/master/FAQ.md#error-connection-closed

The problem would be that the SFTP extension keeps closing the connection for those who use more legacy/old systems. You'll have to Explicitly override the default transport layer algorithms used for the connection to remove the new "diffie-hellman-group-exchange-sha256" algorithm that cause the problem fr

[2021-08-25 03:18] Natizyskunk commented on #28
FAQ : https://github.com/Natizyskunk/vscode-sftp/blob/master/FAQ.md#error-connection-closed

The problem would be that the SFTP extension keeps closing the connection for those who use more legacy/old systems. You'll have to Explicitly override the default transport layer algorithms used for the connection to remove the new "diffie-hellman-group-exchange-sha256" algorithm that cause the problem fr

[2021-08-25 03:18] #28 closed

[2021-08-25 05:28] Mickeywaugh commented on #10
Issue 1.15.2, this bug not fixed yet.

[2021-08-25 06:41] babache opened #48 "Chargement impossible"
Bonjour,

marre que liximomo qui marche une fois sur 2, je me suis tourné vers ton extension mais j'ai toujours des problèmes..

Impossible de charger le module et je ne sais pas pourquoi, comment je peux savoir pourquoi il ne se lance pas ?

Je fais un ctrl + p et ">SFTP: config", en bas apparait : "Activation des extentions" mais rien ne se lance..

Ça commence à me rendre dingue ce vscode !!!

[2021-08-25 06:56] jjnxpct commented on #47
Yes @BBvT that's what I meant.  Thanks.

When we delete a file or folder in the remote explorer we need to refresh manually. Otherwise the deleted file is still visible there. I think the file listing is cached somehow. Also, when we have a subfolder open and delete some file refreshing the file listing only seems to work when we close all folders (select the root) and the refresh. When the delete

[2021-08-25 10:45] Natizyskunk commented on #10
@Mickeywaugh,

Can you try this please ?

FAQ : https://github.com/Natizyskunk/vscode-sftp/blob/master/FAQ.md#error-connection-closed

The problem would be that the SFTP extension keeps closing the connection for those who use more legacy/old systems. You'll have to Explicitly override the default transport layer algorithms used for the connection to remove the new "diffie-hellman-group-exchange-s

[2021-08-25 11:38] Mickeywaugh commented on #10
@Natizyskunk  as your advise above, the  algorithms configuration seems  works with issue 1.15.2, good job!
TKS!

[2021-08-25 13:19] Natizyskunk commented on #10
No problem, i'm happy to see that you've everything sorted out ! 😁

[2021-08-25 13:19] #10 closed

[2021-08-25 13:36] Natizyskunk commented on #48
Bonjour @babache,

Dans un premier temps je te conseille d'ouvrir vscode, de faire un CTRL+x (ou d'aller dans l'onglet extensions) et de vérifier que tu as bien désinstaller toutes les instances de l'extension SFTP, que ce soit celle de liximomo, la mienne ou encore celle d'autres développeur.
Ensuite rends toi dans le dossier `C:\Utilisateurs\<nom_d'utilisateur>\.vscode\extensions` et ici pareil

[2021-08-26 08:30] woifes opened #49 "Publish on open-vsx.org"
First I want to say a big THANK YOU for reviving the project.

I am considering to transit to vscodium instead of vscode. The only thing which is holding me back is this extension. So I wanted to ask if you plan on publishing this also on https://open-vsx.org/
I dont know if this is a big deal but here is a tutorial https://github.com/eclipse/openvsx/wiki/Publishing-Extensions

vscodium article: h

[2021-08-26 10:06] mansdahlstrom1 opened #50 "Ignore patterns not working as expected"
**Do you read the FAQ?**
- [x] Yes.
- [ ] [I am going to read now.](https://github.com/Natizyskunk/vscode-sftp/blob/master/FAQ.md)

**Describe the bug**
Ignore patterns does not seem to work as expected

**To Reproduce**
Steps to reproduce the behavior:

1. Download a WP project.
2. Set the ignore config to only download a single theme or plugin using the following config

Example 1:
[code]

The a

[2021-08-26 12:24] gsabater opened #51 "Add to context menu: Delete local and remote"
**Is this a similar or duplicate feature request?**
- [ ] I don't know. I will go check it.
- [x] No.

** Description **
It would be awesome to have a new option in the right click context menu, next to sync.
The option would be "Delete local and remote file/folder" and would just delete in both sites.

This could be done with sync, but as the folder has been removed, you just cant sync that folde

[2021-08-26 21:36] oliver-la opened #52 "Global sftp.json file"
**Is this a similar or duplicate feature request?**
- [ ] I don't know. I will go check it.
- [x] No.

**Is your feature request related to a problem? Please describe.**

When working in a company on a project, it is considered bad practice to commit sftp credentials to the repository. I can ignore .vscode folder and be done with it. But what if we get a new team member, they would need to set up

[2021-08-27 10:24] #49 closed, assigned to Natizyskunk

[2021-08-28 12:12] black-eye opened #53 "Is "syncMode": "full", Needed and What's its Purpose?"
This is neither bug report nor feature request, just a question to verify. But firstly, let me thank you for forking the extension and taking care of it! It really saved my day!

Now for the question: when syncing from local to remote this setting is recommended (at least works for me fine):

[code]
Ref.: https://github.com/liximomo/vscode-sftp/issues/573

I'm just curious, wheather the `"syncMode

[2021-08-28 12:34] black-eye opened #54 "Keep the Last Used Profile on Next Start"
**Is this a similar or duplicate feature request?**
- [ ] I don't know. I will go check it.
- [x] No.

**Is your feature request related to a problem? Please describe.**
I really like the profile feature, it comes handy when switching between dev and prod site, I do it all the time. But it would be handy if I could preserve the profile from the last session. After reopening VSCode the selected pro

[2021-08-28 13:07] black-eye opened #55 "Compare Remote and Local Folders and Show the Differences"
**Is this a similar or duplicate feature request?**
- [ ] I don't know. I will go check it.
- [x] No.

**Is your feature request related to a problem? Please describe.**
As title says - it would be handy to have a tool to compare local and remote files and show us the diffences (for a starters at least a basic version if there is the difference or not).

**Describe the solution you'd like**
There

[2021-08-29 12:43] kripper opened #56 "sftp.json settings are not loaded until retrying many times"
**Do you read the FAQ?**
- [x] Yes.
- [ ] [I am going to read now.](https://github.com/Natizyskunk/vscode-sftp/blob/master/FAQ.md)

**Describe the bug**
When edditing and saving sftp.json file, the extension normally reloads the settings.
When we have many profiles in the sftp.json file, the new settings fail to load (no messages in output window), but it works fine after retrying many times (eg:

[2021-08-30 02:33] black-eye opened #57 "Conflict With Live Sass Compiler After(?) Sync"
**Do you read the FAQ?**
- [x] Yes.
- [ ] [I am going to read now.](https://github.com/Natizyskunk/vscode-sftp/blob/master/FAQ.md)

**Describe the bug**
This issue is rather strange. There has to be 2 factors to trigger this issue:
1. [Live Sass Compiler](https://marketplace.visualstudio.com/items?itemName=ritwickdey.live-sass) has to be installed and activated
2. There has to be at least one .scs

[2021-08-30 02:58] black-eye commented on #57
OH, an important update: I just checked the debug log and strangely enough the .scss file is not there (including some more files)!

See the short log and the list of files here:

![obrazek](https://user-images.githubusercontent.com/5634870/131278152-07379369-cac6-41b0-8470-d81a67d75167.png)

But what is the most peculiar - ALL the files were tranfered to FTP (I cleaned up the ftp folder before th

[2021-08-30 05:08] BBvT commented on #57
@black-eye  I had similar problems, which were solved when I switched from Ritwick Dey's Live Sass Compiler to  [ Glenn Marks Live Sass Compiler](https://github.com/glenn2223/vscode-live-sass-compiler)

[2021-08-30 13:44] black-eye commented on #57
Oh, thanks a ton for your advice! I was looking for Live Sass Compiler fork a while ago, but couldn't find one. It's briliant, somebody took care of it since then.

I gave it a try and the problem seems to be solved indeed. Strangely enough it seems it also fixed SFTP transfering all the files instead of just changed ones. And it's also significantly faster. Several peculiar problems solved at onc

[2021-08-30 21:43] Natizyskunk commented on #49
No problem 😉

[2021-08-30 21:59] Natizyskunk commented on #53
This option is not really used anymore because if you correctly configure the `watcher` and the `syncOption` you'll have the same behaviour but if you want you can still specify it.

For informations :

You can find more info [here](https://github.com/liximomo/vscode-sftp/pull/58).

[2021-08-30 21:59] #53 closed

[2021-08-30 22:38] Natizyskunk commented on #57
@black-eye,

thanks for opening this issue.

While exploring for more infos, I've been able to isolate the error that happens when uploading an `.scss` file while the LiveSassCompiler extension is on.

This is now the error i get.
[code]

I'm now trying to understand where is this bug comming from.

Hopefully it'll be resolved asap.

For now as @BBvT precognize it you can switched from Ritwick Dey

[2021-08-30 22:41] #48 closed

[2021-09-01 01:57] arangpaul opened #58 "Can I delete my server's file in VS Code?"
**Do you read the FAQ?**
- [o] Yes.
- [ ] [I am going to read now.](https://github.com/Natizyskunk/vscode-sftp/blob/master/FAQ.md)

**Describe the bug**
I deleted my local file and click SFTP: Local to Remote but my server has that deleted file..

**To Reproduce**
Steps to reproduce the behavior:
1. Make 'index_backup.html'
2. Run command > SFTP: Sync Local to Remote
3. Checked my server has 'inde

[2021-09-01 23:21] #58 closed

[2021-09-02 03:16] arangpaul commented on #58
thanks :D

[2021-09-04 19:38] Natizyskunk commented on #58
@arangpaul,

no problem 😀

[2021-09-06 11:01] Tomeamis opened #59 "Update ssh2 to at least 1.2.0"
**Is this a similar or duplicate feature request?**
- [ ] I don't know. I will go check it.
- [x ] No.

**Is your feature request related to a problem? Please describe.**
Connecting to some servers can take 30 seconds or more. More on the problem [here](https://github.com/mscdex/ssh2/issues/1031). It was fixed in ssh2 v1.2.0.

**Describe the solution you'd like**
Please update ssh2 to at least v1.

[2021-09-06 15:50] Adrianilloo opened #60 "Allow syncing to folders symlinks"
Would it be too hard to allow syncing to folders symlinks? Currently one must set a sub-connection for each folder in the project that has an analogous symlink at remote, pointing to the full path, for bypassing the limitation otherwise and errors not to happen.

Thank you.

[2021-09-06 15:51] Adrianilloo commented on #39
@Natizyskunk You might close this. Haven't had latest reporteed issue on automatic re-synchronization activations.

[2021-09-06 15:53] Natizyskunk commented on #39
@Adrianilloo,
Perfect, I'm glad to hear that ! 😀

[2021-09-06 15:53] #39 closed

[2021-09-10 00:15] Natizyskunk commented on #59
@Tomeamis,
Thx for the info. ssh2 depedency has been updated to v1.4.0.

[2021-09-10 00:15] #59 closed

[2021-09-10 07:00] Tomeamis commented on #59
Everything seems to be working fine. Thank you.

[2021-09-10 10:21] jnaklaas opened #61 "Show remote hidden files"
**Is this a similar or duplicate feature request?**
- [ ] I don't know. I will go check it.
- [x] No.

**Is your feature request related to a problem? Please describe.**
I can't see hidden files in the SFTP Explorer (for example .env files). Is there a way to enable this?

**Describe the solution you'd like**
See remote hidden files in the SFTP Explorer.

**Describe alternatives you've considered*

[2021-09-16 05:35] DreamMiu commented on #38
I don’t know if you said this function "Download When Open In Remote Explorer", you can open this option by searching the settings, this is not added in the configuration text
![image](https://user-images.githubusercontent.com/30835281/133555478-bbf5202c-d98a-4bcd-baa6-3727bf9a3590.png)

[2021-09-16 07:52] infazz commented on #38
Thank you, this worked! after enabling this and restarting VS, files opened with sftp now editable right away! Thank you

[2021-09-16 07:52] #38 closed

[2021-09-20 13:20] GreenSpanner opened #62 "Connection to secure cPanel server: ECONNREFUSED"
**Do you read the FAQ?**
- [ y] Yes.
- [ ] [I am going to read now.](https://github.com/Natizyskunk/vscode-sftp/blob/master/FAQ.md)

**Describe the bug**
A clear and concise description of what the bug is.
Failed to start ftp with error ECONNREFUSED

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'vscode'
2. Run command 'sftp:Config'
3. See error
ECONNREFUSED
**Expected behavior**
See

[2021-09-21 04:53] Mhitra opened #63 "Run sftp.sync.remoteToLocal at startup"
Hi,
I'm sorry for bothering you, mine is more a question than a request.
I'd like to autorun "sftp.sync.remoteToLocal" command every time I open my workspace.
There is a way to do it?
I have tried by tasks.json but I failed.
Thank you so much.

[2021-09-21 22:42] visionm45 opened #64 "sync both directions error no such file"
I sync my project with the sftp server then I make a change to a file using filezilla.  Then when I come back to vscode and run sftp sync both directions then it runs but has an error, saying no such file, when it comes to the file which was changed.

 - OS: mac catalina 10.15.7
 - VSCode Version 1.60.1
 - Extension Version v1.15.3

**Extension Logs from Startup**
`[09-21 17:35:03] [info] config a

[2021-09-26 17:36] arvislacis commented on #61
@jnaklaas If you are using SFTP connection then it should already work, look at my screenshot - https://i.imgur.com/7TUialP.png

If you are using Explorer to browser FTP connection then it may be a different story.

[2021-09-27 11:01] Natizyskunk commented on #62
@GreenSpanner,

Only things I can think of :
- Bad configuration file (verify username & password).
- OpenSsh connection bug.
- non-supported transport layer algorithms.

So firstly just check your sftp.json config file and verify that everything is correct.

Then you can you try to switch "useTempFile" and "openSsh" options to `true` to enable atomic file upload for supported server.
If this is n

[2021-09-28 13:38] GreenSpanner commented on #62
1)
Testing username / password in Filezilla
<img width="1152" alt="filezilla-test-creds" src="https://user-images.githubusercontent.com/91069527/135096682-54295d07-0e50-4cc7-94ea-06225a2f0883.png">

2)
Trying     "useTempFile":true,
	"openSsh": true
Is the "Custom crypto binding not available" a possible clue here?
<img width="1269" alt="vscode-sftp-useTempFile-openSsh" src="https://user-images.gi

[2021-09-29 08:18] jnaklaas commented on #61
Seems to be fixed indeed!

[2021-09-29 08:18] #61 closed

[2021-10-01 16:50] javimata commented on #8
this error continue? never be fixed? i need restart the extension each time? please tell me about another that work fine

[2021-10-02 01:54] Natizyskunk commented on #8
@javimata,

no solution has been found for now.
Still searching how to resolve it.

I'll let know everybody when it's fixed.

[2021-10-02 02:05] Natizyskunk commented on #64
I'm not able to reproduce the error on my end. Everything works fine for me. Maybe there is a bug with MacOS but i doubt it.
For now this is what i can recommend you :
- Method 1 : Delete the file locally and then on the parent folder click right and chose `Sync Remote -> Local`. It should download the modified file with no bug.
- Method 2 : Go to the SFTP remote explorer tab, find your file and t

[2021-10-02 03:12] Natizyskunk commented on #63
@Mhitra,

No problem :)

you can easily achieve this with the vscode built-in Tasks.

The easiest way is to open your project with vscode, go inside the root folder and type CTRL+SHIFT+P, type `Tasks:` and select the option `Tasks: Configure Task`. Now select `create tasks.json file from template` and `Others Example to run an arbitrary external command` This will create a tasks.json file inside a

[2021-10-02 03:12] #63 closed

[2021-10-02 03:14] Natizyskunk commented on #56
Hey man,

Is your issue still a thing ?
If needed I'll take a look at it in the next  days.

[2021-10-02 03:34] Mhitra commented on #63
Thank you so much!!! Really!

[2021-10-02 04:13] Mhitra commented on #63
I have an error:
[error] Error: Config Not Found. (file:///${command:sftp.sync.remoteToLocal})
But it works, I'm ok with it! Thank you so much again!
Thank you also to take care about this extension!

[2021-10-03 11:47] Natizyskunk commented on #63
Yup I'm aware of the error buty it's just a false positive.
I'll try to deactivate this message.

[2021-10-04 08:08] Mhitra commented on #63
Thank you Thank you Thank you for this v1.15.4 version just for me.

[2021-10-04 12:34] Natizyskunk commented on #63
No problem 😉

[2021-10-04 15:26] GeorgyLevin opened #65 "File upload hangs"
I have trouble trying to upload file. SFTP plugin hangs, spinner still spinning forever, file not uploaded prperly. Moreover file becomes broken on server!
Accessing file on FTP-server with FTP-client i see, that only half of file is uploaded. File ends at some random place.

VSCode ver. 1.60.2
SFTP ver. 1.15.4

Debug log:
[10-04 18:06:55] [info] config at /home/levingeorgy/project {"remotePath":"

[2021-10-07 07:00] jack-fdrv opened #66 "Reading private key file ~/.ssh/anox_id_rsa failed, {1}"
Connecting failed, Error: Connecting failed, Error: All configured authentication methods failed

[2021-10-07 23:57] ReturnMe opened #67 "Syncing Stops and/or Messes Up"
**Do you read the FAQ?**
- Yes.

**Describe the bug**
In total, 167 MB.
There are 2390 files and 250 folders.
Is it a problem because it's too much?
The problem is; I choose local from remote, but after a while, a note gets stuck.
It then says that it is from local to remote, in the lower left.

The same thing happens even if I choose Sync Local -> Remote.
Exactly the same happens even if I choose

[2021-10-09 00:30] Natizyskunk commented on #66
Please use [this template](https://github.com/Natizyskunk/vscode-sftp/blob/master/.github/ISSUE_TEMPLATE/bug_report.md) and give more informations.

[2021-10-09 00:30] #66 closed

[2021-10-09 00:31] #64 closed

[2021-10-09 00:56] Natizyskunk commented on #19
To-Do :
- [Add FTP active mode capability](https://github.com/mscdex/node-ftp/pull/176/files)

[2021-10-13 12:29] nickdekruijk opened #72 "Default uploadOnSave and privateKeyPath"
**Is this a similar or duplicate feature request?**
- [ ] I don't know. I will go check it.
- [x] No.

**Is your feature request related to a problem? Please describe.**
Each time I create a new SFTP: Config file uploadOnSave is enabled by default. This has caused some problems in the past because I forgot to change it. Would be nice to have it on false by default. Also since I use SFTP with SSH k

[2021-10-18 11:56] Jany-M opened #73 ""Error: SSL/TLS required on the control channel""
I get this same issue with liximomo's version, but he's not maintaining his extension anymore, so I'm asking you.

The error I get is **Error: SSL/TLS required on the control channel**, on the profile I'm using it's set to ftp, port 21 (which is correct, sftp is not required by server for this user and connection).

[code]

[2021-10-18 12:47] tennox opened #74 "Use SSH Agent for authentication"
**Is this a similar or duplicate feature request?**
- [x] No.

**Is your feature request related to a problem? Please describe.**
I don't want to configure all SSH Hosts & authentications multiple times & I don't want to store plaintext passwords in vscode config.

**Describe the solution you'd like**
Use local SSH Agent for authentication (at least for unlocking the encrypted private key)

**Desc

[2021-10-25 11:24] viperet opened #76 "File modification time is not updated when file is auto saved before the upload"
**Do you read the FAQ?**
- [X] Yes.
- [ ] [I am going to read now.](https://github.com/Natizyskunk/vscode-sftp/blob/master/FAQ.md)

**Describe the bug**
When uploading **unsaved** file using "SFTP: Upload Active File" command, file is successfully saved before the upload, but uploaded file on the remote server gets **old** modification time of the file before it was saved.

**To Reproduce**
Steps

[2021-10-25 22:46] #51 closed, assigned to Natizyskunk

[2021-10-27 21:24] #76 closed, assigned to Natizyskunk

[2021-11-01 14:29] kalvinchang commented on #28
This does not fix the issue for me

[2021-11-02 01:33] Natizyskunk commented on #28
Can you please be more precise on when do you get this error ?
If you have no password and no ssh key configured, of course all configured authentication methods would fail.

If you've to specified the password in you' sftp.json config file, maybe it mean that there is a proble with your server configuration. Maybe it only accept password authentication method, and you'll have to enable SSH on it

[2021-11-02 02:12] Natizyskunk opened #79 "Hacktoberfest 2022"
<div align="center">
<img alt="" width="400px" src="https://user-images.githubusercontent.com/50463866/135718788-5e4b1937-6593-47db-b6d8-789d89f39097.png">
</div>

<div align="center">
<b>
  <p>Open source is changing the world – one contribution at a time.</p>
  <p>Support open source throughout October!</p>
</b>
</div>

Hacktoberfest encourages participation in the open source community, which g

[2021-11-02 02:14] #79 closed

[2021-11-02 02:17] Natizyskunk opened #80 "Please Read CONTRIBUTING.md before opening a Pull Request"
We appreciate your efforts and time for making a contribution into the Public APIs.

Please make sure you read the [Contributing Guide](https://github.com/Natizyskunk/vscode-sftp/blob/master/CONTRIBUTING.md) and follow the Guidelines before making a Pull Request. It will help you to craft a great PR and will also help you to eliminate the extra steps that you might have to do if you do not follow

[2021-11-03 03:21] tsingchan opened #81 "[error] TypeError: Cannot read property 'open' of undefined"
**Do you read the FAQ?**
- [x] Yes.
- [ ] [I am going to read now.](https://github.com/Natizyskunk/vscode-sftp/blob/master/FAQ.md)

**Describe the bug**
[11-03 11:14:53] [trace] run command 'Upload File'
[11-03 11:14:53] [warn] ENOENT: no such file or directory, open 'C:\Users\admin\.ssh\config' load C:\Users\admin\.ssh\config failed
[11-03 11:14:53] [trace] handle upload file for e:\src\xxxx\read

[2021-11-03 23:58] ReturnMe commented on #67
There are new findings on this.
I noticed it myself when I was making plugins for myself.
I think;
When the file is downloaded, the time of the downloaded file is new.
When it is uploaded, the time of the uploaded file becomes new.
When this is the case, it is constantly trying to transfer a new one. And I guess it goes into an endless loop.
However, the change times of the files should have been

[2021-11-06 20:10] sefirosweb opened #82 "Edit files directly without download / upload"
**Is this a similar or duplicate feature request?**
- [X] No. (I think i checked it)

**Describe the solution you'd like**
Edit files directly witouth downlaod file (for example if you need to edit a .env files, normally in local is different has production)

![image](https://user-images.githubusercontent.com/20754836/140622569-04e7cb03-3781-4517-9f0f-8c8f4c246264.png)

**Does this project help yo

[2021-11-07 21:01] Natizyskunk commented on #81
As i can see, it seems that you've not correctly set the filepath to your `.ssh` folder and `config` file inside you `SFTP.json` config file.
The error indicate `C:\Users\admin.ssh\config` but it should be `C:\Users\admin\.ssh\config`. Notice the backslash before the `.ssh` folder. It should look like this :
[code]

Example :
[code]

Now please also verify that the `config` file actually exist. If

[2021-11-07 21:01] #81 closed

[2021-11-07 21:06] Natizyskunk commented on #82
@sefirosweb,

I'll take a look at it :)

[2021-11-09 01:58] manuzcom opened #83 "v1.15.6 is error on connect."
**Do you read the FAQ?**
- [x] Yes.

**Describe the bug**
sftp updated with v1.15.6.
Cannot parse privateKey: Encrypted private OpenSSH key detected, but no passphrase given

**To Reproduce**
Steps to reproduce the behavior:
1. update v1.15.6
2. sftp exploring
3. this error shown.
Cannot parse privateKey: Encrypted private OpenSSH key detected, but no passphrase given

but v1.15.5 is ok.

**Deskto

[2021-11-12 04:44] Natizyskunk commented on #83
@manuzcom,
Can you update to v1.15.7 and retry please ?
Tell me if you still have any problem.

[2021-11-12 07:06] clemyan commented on #83
@manuzcom

If you still see the issue on v1.15.7, can you try if using another `ssh` client (e.g. OpenSSH client) connects successfully using password authentication?

Or, check `~/.ssh/config` to see if you have configured the host to use private key authentication?

I changed how the SSH config file is parsed to be more in line with how other SSH clients parse it, and that was released in 1.15.6

[2021-11-13 03:25] kevin8990 opened #86 "File name case"
**Do you read the FAQ?**
- [ ] Yes.
- [ ] [I am going to read now.](https://github.com/Natizyskunk/vscode-sftp/blob/master/FAQ.md)

**Describe the bug**
I have a file Abc.txt, save and upload is ok. but when I change the file name to abc.txt, I always pass Abc.txt when upload.

[2021-11-13 21:09] Natizyskunk commented on #86
This is a known bug. You've to delete the file on your server and then reupload the file and everything should work as expected.
Sorry for this inconvenience.

[2021-11-13 21:09] #86 closed

[2021-11-13 21:11] Natizyskunk commented on #83
@manuzcom,

any news ?

[2021-11-13 21:14] Natizyskunk commented on #67
@ReturnMe,

I've actually take a look at it but i can't reproduce your error...
For me everything work fine and all files/folders are correctly uploaded.

Maybe someone can help on this.

[2021-11-13 21:16] Natizyskunk commented on #73
I'll try to take a look at it.

[2021-11-14 12:06] ReturnMe commented on #67
I was getting this error frequently.
I'll try again and post my results on that here.

[2021-11-15 01:13] manuzcom commented on #83
now ok.

i think `~/.ssh/config` is problem.
if a password is set in sftp.json file, must use it.
but it used `~/.ssh/config` file.

[2021-11-15 03:04] Natizyskunk commented on #83
@manuzcom,

Thanks for your reply.

Have you try latest version ([v1.15.8](https://github.com/Natizyskunk/vscode-sftp/releases/tag/v1.15.8) as I'm writing this comment) ?
Also, can you be a little bit more precise on how you try to connect to your server when you've this error show ?

As far as I understand you're trying to log in to your server using the username & password combo but SFTP try to

[2021-11-15 03:49] clemyan commented on #83
Seems like a limitation of the `ssh2` library. It requires the private key (if given) to be decrypted before even attempting to authenticate to the server and bails completely if a passphrase to a protected private key is not given.

In contrast, the OpenSSH client will not ask for a passphrase until it actually attempts public key authentication, which would allow other authentication methods to

[2021-11-15 21:54] nbeirao commented on #83
I'm experiencing the same issue on macOS Monterey and with the latest version of this extension (1.15.8).
I'm using a .ssh/config with a password protected private key and in my sftp.json I have the following:

{
    "name": "test",
    "host": "myhost",
    "protocol": "sftp",
    "port": 22,
    "username": "myuser",
    "remotePath": "/",
    "uploadOnSave": true,
    "agent": "$SSH_AUTH_SOCK"

[2021-11-16 06:45] shijunti19 opened #87 "文件我先小写，然后上传，然后我发现做了，首字母改成大写，然后从此他上传后首字母全部小写"
全部都是最新版本

首字母他一直小写，不能改成大写！希望修复
![image](https://user-images.githubusercontent.com/5392211/141934772-7788e4ca-8dd5-488c-9f3f-afff7452f9eb.png)
![image](https://user-images.githubusercontent.com/5392211/141934792-af16a4f9-2a99-4d69-82a5-9caafc04e894.png)

[2021-11-17 02:45] DacTT-99 opened #88 "Fail connect to server"
**Do you read the FAQ?**
- [x] Yes.

**Describe the bug**
I can ssh connect to server via terminal : ssh -t efgh@abcd -p 22 -i "/home/list_99/.ssh/id_rsa"
But when connecting by "Open SSH in Terminal" : ssh -t efgh@192.10.4.00 -p 22 -i "/home/list_99/.ssh/id_rsa"
it make "time out"

How can I use hostname alternative IP to connect?

My .shh/config

StrictHostKeyChecking=no
Host *
    ServerAliveIn

[2021-11-17 20:39] robertzas commented on #88
Also having this issue on wsl and windows. Seems like the new update to vscode killed it.

[2021-11-18 14:52] Tpona opened #89 "Using .env parameters for describe sftp.conf"
**Is this a similar or duplicate feature request?**
- [ ] I don't know. I will go check it.
- [x] No.

**Is your feature request related to a problem? Please describe.**
When you have a developer group with several coders, each of them must describe several parameters for sftp connection (login, password, server path, etc.).

Therefore you can't push sftp config to your git repo.
When you have sev

[2021-11-18 20:16] kalvinchang commented on #28
Deleting ~/.ssh on my local computer fixed the issue. I now get prompted every time to enter my password, which is what i want to happen.

[2021-11-19 15:55] Natizyskunk commented on #89
The easiest way is to add the original `sftp.json` config file in your `.gitignore`, create an `sftp.json.example` config file inside your `.vscode` folder and remove only the credentials part (keep the host, servername, specific config...). This way you just have to push this file to your git repo and then when a developer clone it he'll just have to make a copy of the `sftp.json.example` config

[2021-11-20 23:23] Natizyskunk commented on #83
@manuzcom, @nbeirao,

Can you guys retry with the latest [v1.15.9](https://github.com/Natizyskunk/vscode-sftp/releases/tag/v1.15.9) release please ? It should remove the bug.

[2021-11-20 23:24] Natizyskunk commented on #83
@clemyan,

I had to revert your changes since it introduce the bug for to much people. We can keep in touch to find another solution.

[2021-11-20 23:27] Natizyskunk commented on #88
@DacTT-99, @robertzas,

Can you guys retry with the latest [v1.15.9](https://github.com/Natizyskunk/vscode-sftp/releases/tag/v1.15.9) release please ? It should remove the bug.

[2021-11-21 20:11] Tpona commented on #89
@Natizyskunk, thanks for answer and advice!
Now we are using a similar solution =)
Thanks for your contribution to the development of the project.

[2021-11-21 21:35] nbeirao commented on #83
Working properly now. Thank you.

[2021-11-21 23:01] Natizyskunk commented on #89
@Tpona,

no problem 😀

[2021-11-21 23:02] Natizyskunk commented on #83
@nbeirao,

I'm happy to hear that. Perfect.

[2021-11-21 23:02] #83 closed

[2021-11-21 23:02] #88 closed

[2021-11-22 15:57] TonyMonast opened #93 "Files become empty on the server when uploading multiple files at once"
**Do you read the FAQ?**
Yes

**Describe the bug**
When I select multiple files and upload them at the same time, the files become empty on the server, except the last file selected. According to the logs of the sFTP service on the server, it is as if the plugin sent several times the same file (the first which was selected in VSCode) rather than each of the selected files.

No sure if it's the pl

[2021-11-23 07:40] robertzas commented on #88
Now everything is working as expected. TYVM.

[2021-11-23 14:58] Wingee opened #95 "Ability to have a local path"
**Is this a similar or duplicate feature request?**
- [ ] I don't know. I will go check it.
- [X] No.

**Is your feature request related to a problem? Please describe.**
Ability to map a local sub folder to be synced to the remote folder or multiple local to remote folder mappings

**Describe the solution you'd like**
An example of the config could be:

{
    "name": "My Server",
    "host": "loca

[2021-11-23 22:19] Natizyskunk commented on #93
This doesn't seems to come from the extension since i can't remember any one aving any similar issue.
I also can't reproduce it myself.

Can you try on another server ? And also maybe another installation of vscode ? 😕

I'll leave this issue open if any one else encounter the same error.

[2021-11-23 22:23] Natizyskunk commented on #95
@Wingee,

Please just follow [this section](https://github.com/Natizyskunk/vscode-sftp/blob/master/FAQ.md#how-do-i-upload-content-inside-a-folder-but-not-the-folder-itself) in the FAQ since it's already something available.

Thx 😉

[2021-11-23 22:23] #95 closed

[2021-11-23 23:23] TonyMonast commented on #93
My boss also tried on his side. New installation of VSCode and your extension, but the same server. Same problem. We tried the original extension from liximomo. Same problem.

When I look at the logs in VSCode, the paths of the uploaded files are correct. I will see if there is any special configuration to be done on the server, and even try some other software on the server.

May I know what you

[2021-11-24 22:53] Natizyskunk commented on #93
Seems, strange, have you the possibility to test on another server ?
Personnaly, I just have openssh installed and also ufw which I use to open the basic SSH port (port 22).
Realy nothing fancy.

[2021-11-26 19:03] TonyMonast commented on #93
@Natizyskunk

We just tried your extension with OpenSSH and port 22 on the server and everything is working fine.

The problem must have been with the software used to manage the FTP / sFTP server side, in this case CoreFTP server. Maybe it is not compatible with the extension.

Thank you for your time!

[2021-11-27 13:09] Natizyskunk commented on #93
@TonyMonast,

I'm happy to hear that everything is working fine now.

As a test, you can try to update CoreFTP Server to the latest version : `CoreFTP Server v2 Build 725`.
IF this is still not working, maybe it's a good idead to stay with OpenSSH.

[2021-11-27 13:09] #93 closed

[2021-11-30 14:35] yuqihang opened #96 "Packet length exceeds the max length."
**Error**:

**My Environment**:
 - OS: Win10
 - VSCode Version: 1.62.2
 - Extension Version: v1.15.10

**Extension Logs**:

Why did this error happen? Can anyone please help me fix it? Thanks a lot!

[2021-12-02 22:49] mrandrey opened #97 "Select multiple files at once"
**Is this a similar or duplicate feature request?**
- [ ] I don't know. I will go check it.
- [x] No.

**Is your feature request related to a problem? Please describe.**
I'd like to be able to select multiple files/folders at once on the remote server to download.

**Describe the solution you'd like**
Holding down Cmd/Ctrl/Shift while selecting to select multiple files at once, just like on regula

[2021-12-05 15:03] sefirosweb commented on #87
Esto también me ocurre a mi pero cuando lo uso vscode bajo windows, creo que es un bug

Con linux o wsl (ubuntu) me funciona bien el vscode-sftp,

[2021-12-08 17:43] hocker1 opened #98 "When syncing, add "job finished" message to log."
**Is this a similar or duplicate feature request?**
- [ ] I don't know. I will go check it.
- [x] No.

**Is your feature request related to a problem? Please describe.**
On slow connections, I am unable to recognize if sync job is finished or stuck.

**Describe the solution you'd like**
In sync log, I would like to see some "job finish"-like message so I know for sure that all the files have been

[2021-12-09 22:22] gestaltungssache opened #99 "(deleted - no bug, only stupid)"
(deleted - no bug, only stupid)

[2021-12-13 08:50] szhai1969 commented on #87
这个改名很大的BUG,当你的文件夹名第一次用了大写 ,后面突然改小写了,他一直就是用原来的大写去覆盖,启用自动保存的时候,是这个,选择单文件,上传没问题

[2021-12-14 16:25] yuqihang commented on #96
There was something wrong with my bash setup script, and I solved the problem by eliminating error info from that script. May this can help other people coming across the same problem.

[2021-12-14 16:25] #96 closed

[2021-12-17 21:20] ceka39 opened #100 "FTP Passive Mode Not Working or Very Slow"
Hello,

I am using ftp in docker container. I am connecting to server via a different port
(Eg :  Server 3021 -> docker container 21)
Also ftp is set to passive mode in docker container.
(Eg : Passive Mode Ports : Server [4020-4030] -> docker  container [4020-4030])

Filezilla and vscode-ftpsimple are running/connecting at a better speed.

But  vscode-sftp extension is very slow. Each process take

[2021-12-18 13:22] Natizyskunk commented on #97
@mrandrey,

 This is great, can you do a pull request following the [Pull Request Guidelines](https://github.com/Natizyskunk/vscode-sftp/issues/80) please ?

[2021-12-18 13:23] #99 closed

[2021-12-18 14:41] arafatx opened #101 "What is the sync limitation?"
Is there a documentation that show limitation of FTP download or sync from a folder? Some folders are not able to be downloaded (might be it has many subfolders). Folder with simple structure and files are able to be synced from remote to local but for big file or many folder structures, the ftp icon just spinning without telling any clues what is going on.

[2021-12-18 17:06] mrandrey commented on #97
@Natizyskunk,

Here's the code that I added to package.json to bring in Download File & Folder to the remote view:

After this:
[code]
... add this:
[code]
I'm not sure how to do a pull request, but feel free to do it yourself if you think this is ready to be ported to the live version.

And, my original question still stands:
How can I select multiple files at once on the remote view? For example

[2021-12-22 07:27] laterz opened #102 "大佬，考虑支持下 FTP Over TLS吗？"
服务器pure-ftp开启了，仅限TLS的连接

连接时返回
Sorry, cleartext sessions and weak ciphers are not accepted on this server.
Please reconnect using TLS security mechanisms.

[2021-12-23 16:31] wayneljw opened #103 "Customize diff tool"
**Is this a similar or duplicate feature request?**
- [ ] I don't know. I will go check it.
- [x] No.

**Is your feature request related to a problem? Please describe.**
I would like to use “Beyond Compare” when using “diff with remote”. Most solutions I found on the Internet only allows customizing the diff tool for diff with the repository.

**Describe the solution you'd like**
Be able to setup

[2021-12-23 21:57] Natizyskunk commented on #102
@laterz,

Please comment in English.

Now concerning your bug, It seems that you're trying to connect to a not secured server.
Can you tell me what FTP/SSH server (ex: OpenSSH) you're using and which version please ?

[2021-12-31 07:25] TuKun33 opened #104 "能否在我的代码里读取sftp的配置吗，例如profile"
**Is this a similar or duplicate feature request?**
- [x] I don't know. I will go check it.
- [ ] No.

**Is your feature request related to a problem? Please describe.**

我想在我的代码里读取当前的profile, 我可以读取.vscode/sftp.json，但那是静态的

**Describe the solution you'd like**

设置profile的时候，可以考虑在.vscode/sftp.json 写入 currentProfile 属性，或者写入process对象（我是nodejs项目）

**Does this project help you?**
- [x] Yes. SFTP IS AWE

[2022-01-03 18:15] n-for-all opened #105 "Can we add a pause button or update on demand?"
**Is this a similar or duplicate feature request?**
No.

**Is your feature request related to a problem? Please describe.**
Adding some helping features is a must, for example if you are trying to compile scss files the plugin triggers automatically updating all files, this is fine however most of the time it hangs and nothing ends the process or restarts it except waiting untill it times out and

[2022-01-04 12:54] sekhar-88 opened #106 "automatically creating backups on remote"
When saving a file it is backing up the original file with datetime stamp. This is unrequired for me as I am using git on remote.
How to avoid creating backups ?

[2022-01-05 11:42] Natizyskunk commented on #104
@TuKun33,

Please write in english so everyone can understand including me ^^

Thx in advance 🙂

[2022-01-07 16:38] dolutattoo opened #107 "Sync deleted file on remote"
**Do you read the FAQ?**
- Yes.

**Describe the bug**
I set `watcher.autoDelete` and `watcher.autoUpload` to true, but if I delete a file locally in vscode, the file still exist on remote.

**To Reproduce**
Steps to reproduce the behavior:
1. set  `watcher.autoDelete` and `watcher.autoUpload` to true
2. delete a file by doing RMB>Delete file
3. File still exists on remote

**Expected behavior**
On

[2022-01-15 18:59] 7amoood opened #108 "Upload changed files not working - sync data not working"
**Do you read the FAQ?**
- [ ] Yes.
- [ ] [I am going to read now.](https://github.com/Natizyskunk/vscode-sftp/blob/master/FAQ.md)

**Describe the bug**
When using the command upload changed files -> it says upload and write the file name but nothing uploaded.
when using sync data local -> remote it does not upload any data however I changed the file content

[2022-01-23 07:52] fjqingyou commented on #107
Moving files has the same problem

[2022-01-24 08:50] ElMarko34 opened #110 "Automatic save and upload ftp bug"
**Do you read the FAQ?**
- [X] Yes.
- [ ] [I am going to read now.](https://github.com/Natizyskunk/vscode-sftp/blob/master/FAQ.md)

**Describe the bug**
**To Reproduce**
1) Create a file in minus characters exemple: interne.php
2) press ctrl+S to save and upload
3) rename interne.php in Interne.php (note: first I is now in Caps)
4) press ctrl+S and look. File will be uploaded on name **interne**.p

[2022-01-29 02:47] Natizyskunk commented on #108
@7amoood,
It seems to be a bug on your end.

Can you try this please :
1. Delete SFTP extension from vscode (liximomo's version and mine).
2. Close and exit vscode.
3. Navigate to C:\Users\<username>\.vscode\extensions and remove all occurences of SFTP Extension (liximomo's version and mine).
4. Open vscode again & go to the extensions tab (CTRL + SHIFT + X) and install the last version of my SFTP

[2022-01-29 06:43] 7amoood commented on #108
Solved thanks

[2022-01-29 06:43] #108 closed

[2022-02-01 01:16] Natizyskunk commented on #108
@7amoood,

No problem. I Happy to know that everything work fine.

[2022-02-01 16:04] mau-87 opened #111 "Upload Files from Git commit"
**Is this a similar or duplicate feature request?**
- [ ] I don't know. I will go check it.
- [X] No.

**Is your feature request related to a problem? Please describe.**
No I think it is a new feature but I don't know if is possible.

**Describe the solution you'd like**
Upload Files from a Git commit and only with the changes of a commit. So you can select the commits what you want to upload and

[2022-02-02 02:59] StevenSchoch opened #112 "SSH private key to OpenSSH 8.8 server"
Our web server (pair.com) recently (a few months ago) upgraded their SSH server to OpenSSH 8.8. This caused private keys sent from older SSH clients to fail. When using a private key (via ssh-agent), vscode-sftp fails with "All configured authentication methods failed."

Connecting with the same private key to an OpenSSH 8.0 system works from vscode-sftp.
Connecting with the same private key to th

[2022-02-04 13:02] Christoph142 commented on #112
I'm seeing the same issue.

[2022-02-04 20:35] StevenSchoch commented on #112
This article about [ssh-rsa deprecation](https://levelup.gitconnected.com/demystifying-ssh-rsa-in-openssh-deprecation-notice-22feb1b52acd) helps explain this issue. In the context of SSH public key signature, the algorithm "ssh-rsa" uses RSA and SHA-1. Because the SHA-1 algorithm was broken in 2017, it is no longer accepted as a way to send SSH public key signatures as of OpenSSH 8.8.

Instead, th

[2022-02-04 21:20] StevenSchoch commented on #112
Update: Using an ECDSA key worked.

[2022-02-09 01:21] Natizyskunk commented on #111
Hello @mau-87,
If i understand correctly, what you want is that when you are doing a git commit in your local repo you want the sftp extension to automatically upload the committed files on the server. is that correct ?

[2022-02-09 15:11] mau-87 commented on #111
I mean that I can choose maybe 4 commits and upload only the change of the commits.

example:
I choose the commits 1, 2 and 4 and the sftp extension upload the commits but not the change of commit 3.
So on the server in the index.php I don't have the navigation but on my local file.

Commit 1 [X] (change index.php)
Commit 2 [X] (change index.php and function.php)
Commit 3 [ ] (change index.php -->

[2022-02-11 01:05] Natizyskunk commented on #112
@StevenSchoch, @Christoph142,
This should be fixed in pull-request #119.

You can test it by downloading or updating to the latest version of the extension available [here](https://github.com/Natizyskunk/vscode-sftp/releases/latest/). 😉

Please tell me if it works fine now.

[2022-02-11 01:56] Natizyskunk opened #120 "Automatically modify EOL when SFTP work in Cross-platform condition"
- #957.
posted by @lkposible4.
---
**Is this a similar or duplicate feature request?**
- [X] I don't know. I will go check it.
- [ ] No.

**Is your feature request related to a problem? Please describe.**
When I upload file from windows to linux using this script, I find that EOL always mismatch.
When I download file from linux to windows, the condition are the same.

**Describe the solution you'd

[2022-02-11 02:07] Natizyskunk commented on #101
As said in (this](https://www.tutsandtips.com/ftp/what-is-the-maximum-file-size-in-ftp-transfers/) article "By default, there is no technical limit on the maximum file size that you can transfer (download/upload) via FTP".

[2022-02-11 02:07] #101 closed

[2022-02-11 13:05] devrvk opened #121 "File or folder name start with dot"
Hello! Plugin connect with use ftp protocol and doen't show files and folder his name start with dot...Can you help me?

[2022-02-13 16:30] GreenSpanner commented on #62
I managed to resolve this myself after almost 5 months of thinking it was impossible.  Here are the settings that worked for me...

{
    "name": "myname",
    "host": "ftp.mywebsite.co.uk",
    "protocol": "ftp",
    "secure": true,
    "username": "myusername",
    "password": "mypassword",
    "remotePath": "/public_html/",
    "secureOptions": {
        "rejectUnauthorized": false
    },
    "

[2022-02-13 16:30] #62 closed

[2022-02-14 16:17] Machou opened #122 "Display bug when deleting a file"
**Do you read the FAQ?**
- [x] Yes.

**Describe the bug**
When I delete a file via the extension, the file is deleted from the server but it does not disappear from the list, even when I press the "Refresh" button.

**To Reproduce**
Steps to reproduce the behavior:
Just delete a file.

**Desktop (please complete the following information):**
 - **OS: Windows 10**
 - **VSCode Version 1.64.2**
 - **

[2022-02-17 10:11] ArkhipovK opened #123 "Watcher not working with certain folder"
From some point of time (idk exactly when the bug had appeared) watcher ignores any changes in folder. No errors, nothing happening at all.
Here is config

[code]
But when i changing config like this everything is working again.
[code]
Win10, VSCode 1.64.1

[2022-02-18 11:15] matmicha opened #124 ""Error: failure" into "Cannot read property 'open' of undefined""
**Do you read the FAQ?**
- [x] Yes.
- [ ] [I am going to read now.](https://github.com/Natizyskunk/vscode-sftp/blob/master/FAQ.md)

**Describe the bug**
I unsuccessfully tried to install liximomo's extension, then found your fork, but encounter the same problem, "Error: failure". I tried your 2 solutions, but got a "No such file" error w/ the 1st one and a [log.txt](https://github.com/Natizyskunk/

[2022-02-18 22:51] ArneSaknussemm commented on #98
What do you do when it gets stuck? there's no "cancel" "retry" buttons...

[2022-02-19 10:21] hocker1 commented on #98
@ArneSaknussemm I do nothing but wait or restart VSCode. The point is, that I know, that my working copy is not up to date.

[2022-02-20 01:33] fjqingyou opened #125 "希望多重上下文批量同步支持"
**Is this a similar or duplicate feature request?**
- [ ] I don't know. I will go check it.
- [x] No.

**Is your feature request related to a problem? Please describe.**
抱歉，我英语不好，所以用母语进行提交反馈！

对于多重上下文环境下有非常多的影射配置的情况下。

本地项目并不全部影射到远程，例如有些在根目录的文件夹是本地开发环境用的文件夹。

当前需要同步时，总是需要展开到上下文环境的文件夹，然后右键选择文件夹进行同步。当上下文环境很多个的时候，这个过程有些机械化，重复性操作很多，不同点只是多重上下文配置对应的文件夹路径的不同。

**Describe the solution you'd like**
期望在根目录下

[2022-02-21 04:16] hdd1013 opened #126 "Refer to external file when configuring sftp.json"
**Is this a similar or duplicate feature request?**
- [ ] I don't know. I will go check it.
- [x] No.

**Is your feature request related to a problem? Please describe.**
current sftp config file requires passwords to be included in a file, which becomes a problem if you want to include the sftp.json file in the version control

**Describe the solution you'd like**
introduce a feature that lets use

[2022-02-27 12:32] db12138 opened #127 "upload local files to multiple servers at once."
**Is this a similar or duplicate feature request?**
- [ ] I don't know. I will go check it.
- [✅ ] No.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Current version don't support upload local files to multiple server at once even if multiple context have been set up.  for example:  m

[2022-02-27 12:34] db12138 commented on #127
similar issue #125

[2022-03-03 11:39] mpariente opened #128 "Exclude files, folders, or file types"
**Is this a similar or duplicate feature request?**
- [ ] I don't know. I will go check it.
- [X] No.

**Is your feature request related to a problem? Please describe.**
I'd love to sync only some file types and keep others unsynced.

**Does this project help you?**
- [x] Yes. SFTP IS AWESOME! :upside_down_face:

[2022-03-17 08:59] TomaszFilipek opened #131 "to delete"
to delete

[2022-03-19 00:56] sgtcoder opened #132 "Add Delete Remote/Local File/Folder for SFTP Context Menu"
**Is this a similar or duplicate feature request?**
I did not see any.

**Is your feature request related to a problem? Please describe.**
No,

**Describe the solution you'd like**
Add ability to right click and delete from Remote and Local just like Sublime Text has.

**Describe alternatives you've considered**
Have to manually go from local and delete files, then back over to remote to delete fi

[2022-03-19 00:56] sgtcoder opened #133 "Reveal in Remote Explorer Issue"
**Do you read the FAQ?**
Yes

**Describe the bug**
View in Remote Explorer not working. It does work once you goto Remote Explorer, manually connect to server, then go back to local explorer, then right click and View in Remote Explorer.

**To Reproduce**
Steps to reproduce the behavior:
Right click a file in Explorer and click View in Remote Explorer

**Expected behavior**
It should switch to the

[2022-03-19 00:58] sgtcoder opened #134 "Refresh Remote Explorer when Creating/Deleting Files/Folders"
**Is this a similar or duplicate feature request?**
I did not see any.

**Is your feature request related to a problem? Please describe.**
No, would like a new feature to trigger an auto-refresh.

**Describe the solution you'd like**
Ability for Remote Explorer to refresh the folder when a modification was made. For example: Deleting a file should auto refresh vs having to manually do it.

**Descr

[2022-03-19 01:08] sgtcoder opened #135 "Open SSH in Terminal Asks for Password Again"
**Is this a similar or duplicate feature request?**
I did not see it

**Is your feature request related to a problem? Please describe.**
No. Open SSH in Terminal Asks for Password Again

**Describe the solution you'd like**
When I right click on the Remote Explorer Folder and click `Open SSH in Terminal` the shell should use the login credentials from the sftp.json. Instead it asks me for a passwo

[2022-03-21 15:35] MRVDH opened #136 "Automatically sync both ways without user interaction"
**Is this a similar or duplicate feature request?**
No.

**Is your feature request related to a problem? Please describe.**
I was unable to find from the docs if there is a setting that makes sure that local is always up to date with remote. A setting that automatically synchronises everything near-instantly (like how CodeTasty does it, or Google Drive, Dropbox, etc).

**Describe the solution you'

[2022-03-26 03:55] LiangHui6 opened #137 "File contents missing"
Hi,when I use vscode-sftp's Upload Folder,log show many folder transfered.But many file's contents are empty,now I want to regain my files,which are important for me.so How do I recover my files?

[2022-03-26 04:19] LiangHui6 commented on #137
sftp log show
[info] local ->remote /media/data/M2019/lxb/    /run.py
[info] local ->remote /media/data/M2019/lxb/    /test.py
[info] local ->remote /media/data/M2019/lxb/    /train.py

[info] config at /media/data/M2019/lxb {"remotePath":"/media/data/M2019/lxb","uploadOnSave":true,"useTempFile":false,"openSsh":false,"downloadOnOpen":false,"ignore[],"concurrency":4,"protocol":"sftp","connectTimeou

[2022-03-26 04:20] LiangHui6 commented on #137
Hi,when I use vscode-sftp's Upload Folder,log show many folder transfered.But many file's contents are empty,now I want to regain my files,which are important for me.

so How do I recover my files?

[2022-03-29 00:25] WebSpectrum opened #138 "There is no simple disconnect command?"
**Is this a similar or duplicate feature request?**
- [ ] I don't know. I will go check it.
- [x] No.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
I can't a simple disconnect from remote command?

**Describe alternatives you've considered**
A cle

[2022-03-31 01:37] BIMiracle commented on #123
+1

[2022-04-04 04:26] NyaPPuu opened #142 "Remote Explorer Sorting options"
**Is this a similar or duplicate feature request?**
- [ ] I don't know. I will go check it.
- [x] No.

**Is your feature request related to a problem? Please describe.**
I have configured several servers.
I want to sort them the way I want.
They are displayed in a different order from the order written in sftp.json.
I changed the name value and also the context value, but there was no value affect

[2022-04-04 09:15] tjgh1322 opened #143 "sftp.json -> ignore problem"
**Do you read the FAQ?**
- [v] Yes.
- [ ] [I am going to read now.](https://github.com/Natizyskunk/vscode-sftp/blob/master/FAQ.md)

**Describe the bug**
- I set the "ignore" like this
![image](https://user-images.githubusercontent.com/82634713/161512342-71b804f1-ddee-493c-a029-38bc3adf90da.png)

**To Reproduce**
And then execute SFTP : Remote To Local
![image](https://user-images.githubusercontent

[2022-04-04 12:00] #131 closed

[2022-04-04 12:03] Natizyskunk commented on #137
@LiangHui6, Firstly as a security you should always have a backup of your files.
now if you've uploaded files on your server and you haven't touch them on your local you shouldb e able to find them untouched on your local. Same the other way (from server to local and server not touched).

If you have empty files/folders on both ends (server and local) then i'm afraid i can't do much more for you.

[2022-04-04 12:15] Natizyskunk commented on #126
The easiest way of doing it is to create a generic sftp.json.dist file that you'll versionned. In it you can add everything you need except the password. Then add a .gitignore with sftp.json file in it. Then when a user clone the project he just have to copy the sftp.json.dist to sftp.json and add the password in it. This file will never be versionned.
This should fix your problem.

[2022-04-04 12:15] #126 closed

[2022-04-04 12:16] Natizyskunk commented on #128
@mpariente, Can you be more precise please ? 🙂

[2022-04-04 12:17] Natizyskunk commented on #138
why would you want such a command ?

[2022-04-04 12:22] mpariente commented on #128
When using either `Sync Local->Remote` or `Sync Remote->Local` on a folder, all its files and subfolders will be synced. This is the expected behavior.

But, if there is one subfolder, or one file that I wouldn't want to sync between Remote and Local, there is no easy way to do it right ? Same for file types (e.g. *.wav files which I don't want to download and upload back and forth).

This feature

[2022-04-05 01:26] ReturnMe commented on #67
Yep I had to use it again and a project with 8400 files and 900 directories hangs when selecting "both".

And, It corrupts filenames containing Turkish characters.

In summary, the problem remains the same. Same system, same everything.

[2022-04-05 18:06] Natizyskunk commented on #67
@ReturnMe, Thanks for your updates.
As for now, i sadly don't have any option to fix your problem.
The best i can do for now is to keep this issue open and hope that someone come with the same problem or a solution (even better).

I'm sorry that i can't help you more.

[2022-04-05 18:09] Natizyskunk commented on #128
@mpariente, ok I see.
You can easily achieve this by using the ignore parameter in your `sftp.json` config file. You can see more details [here](https://github.com/Natizyskunk/vscode-sftp/wiki/Common-Config#ignore).

[2022-04-05 18:29] #128 closed

[2022-04-06 21:17] ain-soph commented on #127
That'll be an excellent feature if implemented!

I'm currently using command `Set Profile` to switch among servers, which is not very convenient.

[2022-04-06 22:10] ain-soph opened #146 "[Bug] It doesn't switch context when using hopping"
**Do you read the FAQ?**
- [x] Yes.
- [ ] [I am going to read now.](https://github.com/Natizyskunk/vscode-sftp/blob/master/FAQ.md)

**Describe the bug**

If using hopping, the command `Set Profile` won't work to change among different contexts once you already establish the first sftp connection tunnel. Even though the output shows correct names after switch, it actually still uploads files to pre

[2022-04-07 05:37] ain-soph opened #147 "[bug] `Open SSH in Terminal` doesn't use hopping."
**Do you read the FAQ?**
- [x] Yes.
- [ ] [I am going to read now.](https://github.com/Natizyskunk/vscode-sftp/blob/master/FAQ.md)

**Describe the bug**

If using hopping, the command `Open SSH in Terminal` will connect to the first `hopa` server rather than the last hopping server.

**To Reproduce**
Steps to reproduce the behavior:
1. Here's my sftp config:
[code]
2. Run command `SFTP: Sync Local

[2022-04-07 05:43] ain-soph commented on #135
Yes. I also suffer this problem.

I guess it's not easy to fix since they are calling `ssh` command, but it requires typing password after command rather than put password in command options because of safety.

[2022-04-07 20:12] develop-cloud opened #148 "..... load C:\Users\username\.ssh\config failed"
I'm unable to sync, destination and local. Using Visual Studio Code on Windows.

[warn] ENOENT: no such file or directory, open 'C:\Users\username\.ssh\config' load C:\Users\username\.ssh\config failed

Is the message in the 'Output'. Explorer -> R.Mouse on .vscode - 'Sync Both Directions'
sftp.json is configured.

Please advice

[2022-04-11 10:34] alicroche opened #149 "SSH agent configured with $SSH_AUTH_SOCK needs to have been used once outside VS code to succeed in connecting"
**Do you read the FAQ?**
- [x] Yes.
- [ ] [I am going to read now.](https://github.com/Natizyskunk/vscode-sftp/blob/master/FAQ.md)

**Describe the bug**
SFTP connexion fails with _All configured authentication methods failed_ message if SSH agent has not been used at least once anywhere outside VS code (SFTP Client, ssh in terminal etc.)

**To Reproduce**
Steps to reproduce the behavior:
1. Reboot

[2022-04-13 17:30] jeffegiovani commented on #82
I need this! 🤩

[2022-04-14 14:05] Natizyskunk commented on #82
@jeffegiovani,
just use different `.env` files, like `.env` for local and `.env.prod` for production. This extension has not been made with this option in mind but i'll still take a look at it when i've more time.

[2022-04-18 00:35] Natizyskunk commented on #148
@develop-cloud,
Please create a [bug report](https://github.com/Natizyskunk/vscode-sftp/issues/new?assignees=&labels=&template=bug_report.md&title=) respecting the template.

[2022-04-18 00:35] #148 closed

[2022-04-18 00:37] Natizyskunk commented on #149
As i'm not under a mac, i can't reproduce.
Maybe someone else can help us on this.

[2022-04-19 15:01] BrayFlex opened #150 "Latest March Updates for VSCode cause infinite spinner(?)"
**Do you read the FAQ?**
- [X] Yes.
- [ ] [I am going to read now.](https://github.com/Natizyskunk/vscode-sftp/blob/master/FAQ.md)

**Describe the bug**
After the latest March update all sftp actions (upload, download, open, save, etc)  cause a "connecting to sftp..." permanent loading unless you reload. I reverted back to Feb updates to temp fix as I have a lot of work and reply on this plugin. (

[2022-04-19 16:41] bbeckford opened #151 "1Password SSH-Agent Support"
**Is this a similar or duplicate feature request?**
- [ ] I don't know. I will go check it.
- [x] No.

**Is your feature request related to a problem? Please describe.**
I can't get vscode-sftp to connect over SFTP using the [1Password SSH Agent](https://developer.1password.com/docs/ssh)

**Describe the solution you'd like**
Please add support for (or let me know how to configure) [1Password's gre

[2022-04-19 18:13] gsabater commented on #148
@develop-cloud
I had the same problem.
Fixed it by just creating a folder inside my username folder called  `.ssh` and then a blank file called config in it

[2022-04-20 09:03] jondspicer commented on #151
This would be so great, just using 1password agent for everything would so helpful!!!

[2022-04-20 09:11] sharmilaccd commented on #151
Omg this would be AMAZING yes please!!

[2022-04-20 09:38] ultimate-rob commented on #151
### this sounds awesome, I didn't know 1password had an SSH agent! Now I do, I want this!!!!

[2022-04-21 07:59] mean-cj commented on #147
+1 me same.
"Open SSH in Terminal" not working.

[2022-04-21 15:09] bbeckford commented on #151
I tried to get this working using [winssh-pageant](https://github.com/ndbeals/winssh-pageant) to forward Pageant to the 1Password agent instead. I get the prompt to unlock 1Password now so it is connecting, but then the handshake times out.

Can anyone tell what is wrong from the debug output?

[code]

[2022-04-25 12:23] BrayFlex commented on #150
My VSCode auto updated, found the time to do the debug logs:

[code]

[2022-04-28 06:12] cbjerg opened #152 "Special characters on remote not working"
**Do you read the FAQ?**
- [x] Yes.
- [ ] [I am going to read now.](https://github.com/Natizyskunk/vscode-sftp/blob/master/FAQ.md)

**Describe the bug**
A clear and concise description of what the bug is.
If a folder on the remote server contins files with scandinavian characters (æøå) the file will fail

**Desktop (please complete the following information):**
 - OS: macOS Monterey
 - VSCode Vers

[2022-04-29 18:53] mean-cj commented on #147
@ain-soph
Open SSH not working because https://github.com/Natizyskunk/vscode-sftp/pull/154

Tentative solving , add option to your vscode setting.
`  "terminal.integrated.shell.windows": "C:\\Windows\\System32\\WindowsPowerShell\\v1.0\\powershell.exe",`

[2022-05-01 12:41] xushilin1 opened #156 "one file to n servers"
Thank you for this project !!!
Can you support one file to n different servers.
Because Remote-SSH supports editing files on the server side, the one file to one server function provided by vscode SFTP is not very important.
So lots of users need transformer a file to different servers, which Remote-SSH cannot do.
Anyway, thanks for your project.

[2022-05-08 22:53] ain-soph commented on #147
@mean-cj  It seems your issue is different from mine.

In my case, `Open SSH in Terminal` works, but it opens the wrong server. (It opens the server `hopa` rather than `target`.)

[2022-05-12 20:12] kripper opened #160 ""No such file" bug"
**Do you read the FAQ?**

Yes I do..

**Describe the bug**

When triggering a second file-upload concurrently (e: press CTRL+S twice), the "upload with temp files" feature fails and throws a "No such file" fatal error.

**To Reproduce**

Press CTRL+S twice to trigger a file uploads task.
You will get a "No such file" fatal error (see explanation below).

**Expected behavior**

The second upload ta

[2022-05-13 00:57] NyaPPuu opened #161 "Add "Download" and "Upload" in Remote Explorer context menu"
**Is this a similar or duplicate feature request?**
- [ ] I don't know. I will go check it.
- [x] No.

**Is your feature request related to a problem? Please describe.**
You can download or upload with command.
But it will be very convenient to use if it is in the context menu of the Remote Explorer.

**Describe the solution you'd like**
If you right-click on the remote explorer folder, "Download

[2022-05-16 01:25] NyaPPuu commented on #143
How about set to `/data/session` or `data/session`?
I don't know if this is correct,
Because you set remotePath, I think you should remove that remotePath value.

[2022-05-18 09:52] tiltil9 opened #162 "Can it support accessing ftp through http proxy?"
**Is this a similar or duplicate feature request?**
- [ ] I don't know. I will go check it.
- [ ] No.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've conside

[2022-05-19 20:09] BrayFlex commented on #150
I'm now on VSCode 1.67.2, the problem _was_ still occurring earlier today but now it seems to be working, the only thing that I did was disable a separate extension that was causing me issues in this new VSCode version.

[2022-06-04 05:43] juancpgo opened #164 "Make “Upload active folder” harder to hit accidentally"
**Is this a similar or duplicate feature request?**
- [ ] I don't know. I will go check it.
- [x] No.

**Is your feature request related to a problem? Please describe.**
I find it risky to accidentally hit "enter" while on the option “Upload active folder”, and end up uploading too many files at once and compromising remote files.

**Describe the solution you'd like**
I'd find it proper if the com

[2022-06-07 06:15] tjgh1322 commented on #143
OHHHHHHHHHHHHHHHHHHHHH!
I solve it!!! thanks a lot!! :D

[2022-06-07 06:19] #143 closed

[2022-06-09 14:37] peterlholm opened #165 "06-09 16:22:07] [error] Error: [xx.local]: getaddrinfo EAI_AGAIN xx.local"
**Do you read the FAQ?**
- [ X] Yes.

**Describe the bug**
Doing a upload the following error:
06-09 16:11:43] [info] config at /home/peter/danBots/sw/danbots-webserv {"remotePath":"/home/peter/danbots-webserv","uploadOnSave":false,"useTempFile":false,"openSsh":false,"downloadOnOpen":false,"ignore":[],"concurrency":4,"protocol":"sftp","connectTimeout":10000,"interactiveAuth":false,"secure":false,"

[2022-06-12 08:02] Offerel opened #166 "How to use with ssh-agent or keyring?"
Most of my sftp / ssh connections use a keyfile provided by ssh-agent/keyring. It seems this didnt work with this extension. On the other hand, maybe this function exists, but i have no idea how to use it with the extension.

[2022-06-12 08:10] #166 closed

[2022-06-12 08:10] Offerel commented on #166
found the setting

[2022-06-14 16:41] KaspianDev opened #167 "Show Files In Explorer"
**Is this a similar or duplicate feature request?**
- [ ] I don't know. I will go check it.
- [X] No.

**Describe the solution you'd like**
Show files in explorer (using a command for example). Instead of the custom menu. The advantage is that explorer will show file icons.

**Does this project help you?**
- [x] Yes. SFTP IS AWESOME!

[2022-06-15 11:15] Drsmed opened #168 "Missing File Icons on SFTP:Explorer in VSCode version 1.68"
**Describe the bug**
The file icons on remote explorer disappear on version 1.68

**To Reproduce**
Best descibed on liximomo/vscode-sftp
https://github.com/liximomo/vscode-sftp/issues/998

Desktop (please complete the following information):
OS: Mac and Windows
VSCode Version 1.68

[2022-06-16 08:11] nebrot commented on #168
See also for a possible fix https://github.com/microsoft/vscode/issues/151663#issuecomment-1151766801. I think this file needs to be fixed: https://github.com/Natizyskunk/vscode-sftp/blob/db6f938679fc39e397a3d05ea99be2caef824431/src/modules/remoteExplorer/treeDataProvider.ts#L102-L126

[2022-06-16 08:52] Drsmed commented on #168
VsCode 1.68.1 roled out today and after update icons work again.

[2022-06-16 09:01] nebrot commented on #168
Thanks for info, it's working for me too after update to 1.68.1.

[2022-06-16 21:31] jarodium opened #169 "File run after/before upload"
**Is this a similar or duplicate feature request?**
- [ ] I don't know. I will go check it.
- [x] No.

**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
I would like to be able to run some commands before or after upload. For example, I would like to, just before the upload, run sourceguardian ( php code encrypter ) and then, upload the re

[2022-06-21 12:44] zigojacko opened #170 "Repeatedly asked for password even though set in SFTP config"
On one of our projects, I am asked for the password when I go to View > Command Palette > SFTP: List even though it already exists in the config.

I can't see any errors with the syntax and plenty of other projects with same config is connecting fine.

I am wondering whether it might be because of this character in the password (^) - does this need to be escaped?

When I do enter the password agai

[2022-06-22 15:30] netizen-ais opened #171 "Use the Notifications API"
**Is this a similar or duplicate feature request?**
- [ ] I don't know. I will go check it.
- [X] No.

**Is your feature request related to a problem? Please describe.**
The status bar can be cluttered, while UX notifications are common and perfect for this task

**Describe the solution you'd like**
Show a [toast notification](https://code.visualstudio.com/api/ux-guidelines/notifications) in addit

[2022-06-30 18:25] jeffglynn commented on #8
I find that changing (ie. add a space) and saving the sftp.json file restarts the connection. Fixes this issue until the next time it happens

[2022-06-30 18:34] jeffglynn commented on #8
Would you mind telling me how I get liximomo's v0.8.5?

[2022-07-13 06:14] vpashovski commented on #135
Hello, I have the same problem. It is annoying to enter the password again.
Maybe it is possible to fill the password automatically in the prompt instead of adding it directly in `ssh` command.

[2022-07-14 08:28] Cancerce1l opened #172 "Error: Please select one of the assets"
[07-14 16:24:51] [error] Error: please select one of the assets
	at 101 (/home/***/.vscode/extensions/liximomo.sftp-1.12.10/node_modules/ssh2/lib/protocol/SFTP.js:2618:19)
	at SFTP.push (/home/***/.vscode/extensions/liximomo.sftp-1.12.10/node_modules/ssh2/lib/protocol/SFTP.js:278:11)
	at CHANNEL_DATA (/home/***/.vscode/extensions/liximomo.sftp-1.12.10/node_modules/ssh2/lib/client.js:525:23)
	at 94

[2022-07-14 17:56] ain-soph commented on #156
That's a feature that I desire for a long time. But I don't think it's easy to implement...

[2022-07-14 18:04] ain-soph commented on #156
Similar Issue #125 #127

[2022-07-14 18:10] ain-soph commented on #170
Similar issue #135

[2022-07-26 02:51] erfanmola opened #174 "Upload with given Permission"
Hi, It would be nice to have an option in sftp.json to spceify a general rule for the permission of the uploaded files, I myself want all my uploads to be 777, but since they are 644 when I create them, they get uploaded as 644 permission

[2022-07-27 11:38] GeniustudioDima opened #175 "The installed extension is not displayed in the menu bar"
**Is this a similar or duplicate feature request?**
- [ ] I don't know. I will go check it.

**Is your feature request related to a problem? Please describe.**
The installed extension is not displayed in the menu bar
https://prnt.sc/kgDolU0kY-Ts

[2022-07-29 06:21] kadikey58 commented on #133
Have the same problem - never worked for me!

[2022-08-02 18:45] tahola opened #176 "Upload Active File doesn't see that I renamed my folder"
Hello, I have an issue that I never had before, I changed the name of a directory from "domains" to "Domains" and now when I am using the "Upload Active File" **shortcut** it still uploading the file to "domains/myfile.php", if I do a right click on the file and > "Upload" the path is correct.

I tried to relaunch the app, I also reinstalled the extension but nothing change, is there a cache somew

[2022-08-02 21:02] tahola commented on #176
Ok after trying to rename, delete, rename again etc.. I found the solution : I had to modify something in the file to have an update in my git directory, then I did "Upload changed files" and now "Upload active file" is working with the correct folder name (Domains).

[2022-08-02 21:02] #176 closed

[2022-08-03 07:35] Moln commented on #165
The plugin will load file ` ~/.ssh/config`  and resolve `HostName` option.
Confirm your have `HostName: xx.local` option in that file.

If found it, try delete that option or delete `~/.ssh/config` file.

[2022-08-03 22:03] Asitis commented on #175
This is happening for me too, now.
Thing is, I always had a Ubuntu laptop running VSCode with this extension - no problem. I replaced it last month with a new Ubuntu laptop running VSCode with this extension, still no problem!
That laptop broke and was very bad all over, so I got a M1 MacBook - and now the module doesn't show up..

[2022-08-06 08:53] Natizyskunk commented on #162
Please complete all sections of your Feature Request 🙂

[2022-08-11 09:22] martenkoetsier opened #177 "Remote simlinks to directories are not followed"
**Describe the bug**
File upload does not follow remote simlinks. Instead, upload fails with message "[the dir] is not a valid directory path".
Partial output of `ls -l`:
[code]
(user and group redacted)

**To Reproduce**
1. create some project with in it:
[code]
2. setup sftp to connect to remote system
3. on remote system, setup dir-structure:
[code]
4. in vs code, try to upload `/file2.ext` (wo

[2022-08-11 14:54] jano23 commented on #108
I'm having the same issue. Windows 11
Tried the suggested fix of uninstalling all versions, deleting all occurrences of the extension, restarting vscode and reinstalling."
Output on Terminal shows UPLOAD: results correctly on the 3 files I am testing but the server still has the old versions.
SFTP v1.15.14
VSCODE v1.70.0

[2022-08-11 22:24] jano23 opened #178 "Upload changed files not working"
**Do you read the FAQ?**
- [x] Yes.

Tried the suggested fix of Issue #108: uninstalling all versions, deleting all occurrences of the extension, restarting vscode and reinstalling."
Output on Terminal shows UPLOAD: results correctly on the 3 files I am testing but the server still has the old versions.
SFTP v1.15.14
VSCODE v1.70.0

**To Reproduce**
Steps to reproduce the behavior:
1. Go to F1
2.

[2022-08-12 16:55] jano23 commented on #178
UPDATE:

Looks like it was port configuration issue.  I am using ftp protocol and if I try port 21 or 22 it doesn't upload changed files. If I remove the port line in sftp.json then changed files are updloaded but they show the timestamp of the time of upload, not the timestamp of when the file was changed.

[2022-08-13 12:00] kripper opened #179 "Use rsync for big files"
**Is this a similar or duplicate feature request?**
- [ ] I don't know. I will go check it.
- [x] No.

**Is your feature request related to a problem? Please describe.**
Transfering big files is innefficient.

**Describe the solution you'd like**
Use rsync.

**Describe alternatives you've considered**
Switching to other plugin?

**Does this project help you?**
- [x] Yes. SFTP IS AWESOME!

[2022-08-14 16:29] nerdx86 commented on #177
I am having a similar issue with it not letting me upload files directly under a symbolic directory link (but files within subdirectories of the symlink work) It seems that files below the first "normal" directory inside of a directory symlink  work but files directly under the symlink don't.  (also have the same explorer issue as above where a directory symlink doesn't show as a directory)

I swe

[2022-08-16 16:23] yphastos opened #180 "Option to change base "local" folder"
**Is this a similar or duplicate feature request?**
- [ ] I don't know. I will go check it.
- [x] No.

**Is your feature request related to a problem? Please describe.**
If I wrongly choose the initial folder upon installing the extension, or I want to change it at any time, I can't easily change it.
I couldn't find a setting or option where I can do so.

**Describe the solution you'd like**
An op

[2022-08-24 12:21] olivdee opened #183 "Show .htaccess files on server"
Hi there, is there any chance we get the option to enable showing .htaccess files on the server?
Maybe something one could add inside **sftp.json**, like so:
[code]

Thanks in advance!

**Does this project help you?**
- [x] Yes. SFTP IS AWESOME!

[2022-08-26 10:49] nicojmb commented on #15
Hi,

I've the same problema but deleting both directorys not work

`[08-26 12:46:37] [info] config at xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx {"remotePath":"xxxxxxxxxxxxxxxxxxxxxxxx","uploadOnSave":true,"useTempFile":false,"openSsh":false,"downloadOnOpen":false,"ignore":[".vscode",".git",".DS_Store","README.md","test","LICENSE","license.txt"],"concurrency":4,"protocol":"sft

[2022-08-29 21:47] mavuriel commented on #183
I don't if that comes from server config, but I always see hidden files/folders in the sftp explorer and I can download it.🤔

![image](https://user-images.githubusercontent.com/46590763/187304858-e0080fb7-5818-4ef8-b51e-391449e33cdf.png)

[2022-08-30 10:13] olivdee commented on #183
This is very strange, as I contacted the server support after your answer. They replied, that it cannot be a server issue, as:
a) there is no such setting in server/apache config that blocks or allows "invisible"/".dot" files like .htaccess
b) if this works with an FTP software (like FileZilla) then it should also work with another one as well (= YES it works with FileZilla on my side, I mean, Fil

[2022-09-01 11:03] KamasamaK opened #184 "Diff: Set editor for temp file to read-only"
**Do you read the FAQ?**
- [x] Yes.
- [ ] [I am going to read now.](https://github.com/Natizyskunk/vscode-sftp/blob/master/FAQ.md)

**Describe the bug**
When performing "Diff Active File with Remote", a temp file is created for remote. The editor indicates that this temp file is writable. It should be read-only since it's only a temp file.

**To Reproduce**
Steps to reproduce the behavior:
1. Exec

[2022-09-02 07:29] mattocchi opened #185 "reload of sftp.json on branch switch"
**Is your feature request related to a problem? Please describe.**
This is a feature request, but can be a problem for some end-users.
If there are some SFTP changes on configuration files that come form Repo's branch switch it can be good to reload the sftp.config's configuration.
Some real use-cases can provide different SFTP connection between main and/or other branches

**Describe the solution

[2022-09-05 12:48] inorganik commented on #112
Hi, I'm hitting the same issue, with a new server running OpenSSH 8.9.

I am able to connect using command line sftp, so it seems like it should work with the extension.

With the extension I just get the error: "Error: [ip address]: All configured authentication methods failed". I have checked and re-checked the config, it's correct. Is there anything else I can try?

[2022-09-06 07:57] RubyKiss opened #186 "Sometimes half the code is downloaded and half the code is missing. What's the situation?"
I CAN'T offer MUCH more, but WHEN I'm trying to download a large file by pressing the shortcut key, I will occasionally find that half of the content is down. Sometimes it only takes one download to appear. Has it been resolved?

[2022-09-06 07:58] RubyKiss commented on #186
Sometimes the FTP sidebar displays garbled Chinese characters

[2022-09-06 10:53] Paulo--M-- commented on #177
I confirm that symlinks are not being followed. Is there any fix for this behaviour?

[2022-09-06 10:58] Paulo--M-- commented on #151
I second this request. It would be extremely useful.

[2022-09-06 12:04] xiaobanni opened #187 "Upload local files to multiple servers at once."
This is a similar request as #127, but I'm trying to make it as clear as possible.

[code]

Configure `"defaultProfile": "xxx2"` to select a specific server to be uploaded, and then perform the operation `Ctrl+Shift+P` + `SFTP: Sync Local -> Remote`.

I think the **following features** are valuable, for example:

Set `"defaultProfile": ["xxx1", "xxx2", "xxx3"]` and then perform the same operation

[2022-09-07 17:15] jmcpheters opened #188 "SFTP does not work for AWS Linux 2022"
**Do you read the FAQ?**
- [X ] Yes.
- [ ] [I am going to read now.](https://github.com/Natizyskunk/vscode-sftp/blob/master/FAQ.md)

**Describe the bug**
vscode-sftp v1.15.14 does not work for AWS Linux 2022 (AL2022), which is available as Release Candidate and supposedly soon to be Generally Available. Using key-pairs that work for AWS Linux 1 (AL1), no ssh connection can be established for AL202

[2022-09-09 20:28] Natizyskunk commented on #107
You should be able to achieve what you want with this config :

[code]

Can you try it and tell me if it fixed your problem ?

[2022-09-09 20:29] Natizyskunk commented on #132
You should be able to automatically delete files between your local and your server using this config :

[code]

It's not exactly what you asked for but it's the best i can offer you fofr now.

[2022-09-09 20:30] Natizyskunk commented on #136
You should be able to achieve what you want with this config :

[code]

[2022-09-09 20:48] Natizyskunk commented on #188
@jmcpheters,

You can try one of those options to see if it help :
- [SSH agent](https://github.com/Natizyskunk/vscode-sftp/wiki/SFTP-only-Config#agent)
- [OpenSsh - Enable atomic file uploads](https://github.com/Natizyskunk/vscode-sftp/wiki/Common-Config#openssh)
- [Overriding the default transport layer algorithms](https://github.com/Natizyskunk/vscode-sftp/blob/master/FAQ.md#error-connection-cl

[2022-09-10 05:37] fjqingyou commented on #107
it's right. rename and delete file is sync to remote server
thanks! have a good day!

[2022-09-12 10:54] #107 closed

[2022-09-12 10:59] Natizyskunk commented on #183
Are you sure you d'ont have a parameter in your vscode user config that could interfere ? As @mavuriel stated, the extension always show hidden files (and dotfiles) by default and i've implemented any option to not show them.

[2022-09-12 11:02] Natizyskunk commented on #180
@yphastos,
Can you be more precise on what you want exactly and how you achived your current state please ?
Maybe some screenshots could help :)

[2022-09-12 20:00] Natizyskunk commented on #177
guys can you try this please ?

https://github.com/Natizyskunk/vscode-sftp/blob/master/FAQ.md#error-failure---solution-one
https://github.com/Natizyskunk/vscode-sftp/blob/master/FAQ.md#how-do-i-upload-content-inside-a-folder-but-not-the-folder-itself
using [Context](https://github.com/Natizyskunk/vscode-sftp/wiki/config#context) like this https://github.com/Natizyskunk/vscode-sftp#multiple-context

[2022-09-12 22:52] yphastos commented on #180
@Natizyskunk
Hello. I'll try to be more specific.

When we first run the extension, we are prompted with an option to choose a "working folder", like this:

![image](https://user-images.githubusercontent.com/13773388/189768408-d4012bc2-9136-4c35-953f-c47827a4f16e.png)

From there, we choose the "local" folder, which is the one all our remote files will be saved "locally", it also creates a `.vscod

[2022-09-13 13:42] nerdx86 commented on #177
Ok, so you are suggesting that instead of using symbolic links for the
directories, that we create separate "contexts" on the VSCode side that
creates "client" side symlinks? Ok that might work, I'll give it a shot
when I'm back in code...

it's actually kinda odd that we can read but not write..  I wonder if it's
a server side issue at the root cause?  WinSCP can handle it, but they are
definitel

[2022-09-14 06:23] fazaldegui opened #191 "Can't write comments in the sftp.json configuration file"
**Do you read the FAQ?**
- [x] Yes.
- [x] [I am going to read now.](https://github.com/Natizyskunk/vscode-sftp/blob/master/FAQ.md)

**Describe the bug**
Can't write comments in the sftp.json configuration file.
The file stored in .vscode folder called "sftp.json" contains the server information, if I write a comment on saving the json file an error of "Unexpected token in position X" is thrown.
In

[2022-09-14 15:44] dimaslanjaka opened #192 "Cannot download/upload on folder with SPACE"
**Do you read the FAQ?**
- [x] Yes.
- [ ] [I am going to read now.](https://github.com/Natizyskunk/vscode-sftp/blob/master/FAQ.md)

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
1. create nested folder and file with space (folder name/file name.txt)
2. upload the file and folder
3. delete local folder
4. then sync parent folder of it (download folder)

[2022-09-15 02:02] shijunti19 commented on #87
@Natizyskunk 还没修复这个bug吗

[2022-09-17 16:41] MisterFixx commented on #191
Comments are not supported in JSON.

[2022-09-19 07:50] fazaldegui commented on #191
Sorry, you're right.
I've seen in your examples comments and I'm assumed that it could be.
Thank you.

[2022-09-19 07:50] #191 closed

[2022-09-19 11:44] gogito opened #194 "Can't config ftp with no username"
Basically if I try to set the username to null -> "", it doesn't work. And the server I need to connect to doesn't have a username and password so I need to set it to "". Is there any solution?

Thanks in advance!

[2022-09-19 13:38] kklot opened #195 "Save changes in `ipynb` are not recognized"
**Do you read the FAQ?**
- [x ] Yes.

**Describe the bug**

Other files (markdown, R, python) synced fine when saving with some changes. The `.ipynb` in the same directory does not.

**To Reproduce**

Steps to reproduce the behavior:
1.  Create new python notebook and a python file.
2.  Set up SFTP config
3. write something in each file and save

**Expected behavior**

Changes in `ipynb` is detect

[2022-09-20 08:48] aetonsi opened #196 "remote to local sync breaks and hangs extension"
**Do you read the FAQ?**
- [x] Yes.
- [ ] [I am going to read now.](https://github.com/Natizyskunk/vscode-sftp/blob/master/FAQ.md)

**Describe the bug**
Syncing remote->local (or both directions) hangs, and the extension becomes unresponsive (doesn't accept any more commands, including "cancel all transfers").
Suspecting a filesystem permission error, i gave the project folder every possible permi

[2022-09-20 08:53] aetonsi commented on #196
Edit: i tried also with `"limitOpenFilesOnRemote": true`, `"limitOpenFilesOnRemote": 1`, `"concurrency": 1,`, without success

[2022-09-20 21:56] Natizyskunk commented on #112
please check that if you're using ssh private+public key combo that you've correctly added your local public key to your `.ssh/authorized_keys` file on your server.

[2022-09-21 12:09] inorganik commented on #112
@Natizyskunk Yes, I regularly ssh into the server via public key, so I know that is set up correctly.

[2022-09-21 19:58] bobbydank opened #198 "Ubuntu 20.04 to 22.04 upgrade issue"
I upgraded a server from Ubuntu 20.04.4 LTS to 22.04.1 LTS. I have a configuration that worked before the upgrade and now does not work. It throws this fatal error when I try to connect:

All configured authentication methods failed.

The server is an EC2 server, and I use the AWS-generated key to SSH in. I can still SSH from the Mac terminal, and I can connect using Filezilla. So other connection

[2022-09-21 22:21] peter-vanpoucke commented on #112
Doesn't seem to work for me either. Tried to add [the algorithms](docs/sftp_config.md) mentioned in the fix, but that didn't seem to work. Using an ECDSA did.
Connecting to the ssh server for this project: <https://github.com/hassio-addons/addon-ssh>.

[2022-09-23 03:08] altrusl commented on #198
Yes, i have similar issue on AWS EC2 Ubuntu 22.04.1 LTS
Newly generated AWS private key converted to ppk does not work (pem neither)
With ppk private key on Windows i get "No supported authentication methods available"
The same key does not work on Putty 0.70, BUT does work on latest stable Putty 0.77
So i guess that's something new on Ubuntu/AWS

[2022-09-23 18:11] #136 closed

[2022-09-23 18:20] Natizyskunk commented on #47
#122, #134, #159

[2022-09-23 18:21] Natizyskunk commented on #122
Related issues : #47, #134, #159

[2022-09-23 18:21] Natizyskunk commented on #134
Related issues : #47, #122, #159

[2022-09-23 19:13] godsdog commented on #183
Same issue here. Filezilla is showing .dot files, no .dot files in the explorer remote view.
The issue is only occuring on some servers?!

[2022-09-24 08:33] Machou commented on #122
Good =) thanks

[2022-09-24 08:33] #122 closed

[2022-09-24 11:16] jjnxpct commented on #187
This sound interesting. I could use that it our workflow... So +1 ;-)

[2022-09-25 22:48] Natizyskunk commented on #112
Please try this config and let me know if it worked.

[code]

I'll try to take a further look when i've more time.

[2022-09-26 07:26] xingkongwuhen opened #199 "Chinese the directory has a garbled situation, how to solve it?"
Chinese the directory has a garbled situation, how to solve it?

[2022-09-26 14:45] #31 closed

[2022-09-26 15:16] Natizyskunk commented on #72
@nickdekruijk,
I'll change the default `uploadOnSave` option to `false` but I can't set a default value for the `privateKeyPath` option because not everyone is using it by default. Some people are still using the classic "username + password" method.

[2022-09-26 15:40] #72 closed

[2022-09-26 15:45] Natizyskunk opened #201 "Hacktoberfest 2022"
<div align="center">
<img width="400px" src="https://user-images.githubusercontent.com/59120131/192324848-e47f1899-9716-4772-b7cc-6fe31e3de322.png">
</div>

<div align="center">
<b>
  <p>Open source is changing the world – one contribution at a time.</p>
  <p>Support open source throughout October!</p>
</b>
</div>

Hacktoberfest encourages participation in the open source community, which grows bi

[2022-09-26 19:36] U5B opened #202 "Include only specific files"
**Is this a similar or duplicate feature request?**
- [ ] I don't know. I will go check it.
- [x] No.

**Is your feature request related to a problem? Please describe.**
I saw the feature "ignore" which ignores specific files that match that pattern.
However, is it possible to make a feature that acts as the opposite of that?
I want to include only configuration files that end with `.yml`. But I d

[2022-09-26 20:11] #102 closed

[2022-09-26 20:13] #104 closed

[2022-09-26 20:14] Natizyskunk commented on #106
@sekhar-88,

Can you explian a little bit more your problem ?
Can add some screenshots to illustrate ?

[2022-09-26 20:20] Natizyskunk commented on #111
@mau-87,
How are you selecting your commit to upload ?

The only way I think right now to do it is to git commit your desired commits (commit 1 & 2) whith the sftp-extension activated then deactivate it to commit your undesired one (commit 3) and then reactivate it to commit your last commit (commit 4).

[2022-09-26 20:28] Natizyskunk commented on #19
Related issues : #32

[2022-09-26 20:28] Natizyskunk commented on #32
Related issues : #19

[2022-09-26 20:38] Natizyskunk commented on #178
@jano23,
This is not related to the vscode-sftp extension. This mean that you've a problem with your ftp configuration on your server (by default ftp is port 21 et ssh/ftps is port 22). Don't try port 22 on ftp and vice-versa (port 21 on ssh/ftps).

For the timestamp it's normal because when you upload a file it's updated (**changed**) on your server. This mean the timestamp is acutally correctly

[2022-09-26 20:38] #178 closed

[2022-09-26 20:40] Natizyskunk commented on #8
Related issues : #65, #150, #196

[2022-09-26 20:40] Natizyskunk commented on #65
Related issues : #8, #150, #196

[2022-09-26 20:40] Natizyskunk commented on #150
Related issues : #8, #65, #196

[2022-09-26 20:40] Natizyskunk commented on #196
Related issues : #8, #65, #150

[2022-09-26 20:47] Natizyskunk commented on #160
I personnaly can't replicate this bug :/

[2022-09-26 20:48] Natizyskunk commented on #171
@netizen-ais,
Can you be more precise on wich notifications you would like to see in a toast please ?

[2022-09-26 20:51] #165 closed

[2022-09-26 21:34] netizen-ais commented on #171
Of course. I forked a similar package for the Atom IDE that was idle for a long time. I added that feature and the notifications I did implement were protocol+file with local/remote paths, and process result.

I didn't take the time to inspect vscode's API, but I'd live a similar (maybe biassed) approach

[2022-09-26 21:38] kripper commented on #160
Make sure you have enabled the new added option to use a temp file.

[2022-09-26 21:45] Natizyskunk commented on #169
@jarodium,

you can easily achieve this with the vscode built-in Tasks.

The easiest way is to open your project with vscode, go inside the root folder and type CTRL+SHIFT+P, type `Tasks:` and select the option `Tasks: Configure Task`. Now select `create tasks.json file from template` and `Others Example to run an arbitrary external command` This will create a tasks.json file inside a .vscode fold

[2022-09-26 21:45] #169 closed

[2022-09-26 21:47] Natizyskunk commented on #60
Related issue : #177

[2022-09-26 21:47] Natizyskunk commented on #177
Related issue : #60

[2022-09-26 21:52] Natizyskunk commented on #24
Related issue : #110

[2022-09-26 21:52] Natizyskunk commented on #110
Related issue : #24

[2022-09-26 21:53] Natizyskunk commented on #110
Take a look at this configuration to make it work for now : https://github.com/Natizyskunk/vscode-sftp/issues/24#issuecomment-893860860

[2022-09-26 21:59] Natizyskunk commented on #57
Related issue : #105

[2022-09-26 21:59] Natizyskunk commented on #105
Related issue : #57

[2022-09-26 22:07] Natizyskunk commented on #202
@U5B,
You can easily achieve this by using the [watcher option](https://github.com/Natizyskunk/vscode-sftp/wiki/Common-Configuration#watcher) in your `sftp.json` config file.

Exemple :
[code]

[2022-09-26 22:08] Natizyskunk commented on #186
Related issue : #199

[2022-09-26 22:09] Natizyskunk commented on #199
Related issue : #186

[2022-09-26 22:19] Natizyskunk commented on #194
How can your server not have any username ? An os can't have no user or a user with no username.
What i recommend you is to connect to your server via ftp in your terminal the classic way and look at hte user you're logged in.

It should look something like this : `root@myserver:/var/www/`.
[code]

[2022-09-26 22:19] #194 closed

[2022-09-26 22:22] Natizyskunk commented on #188
@jmcpheters Can you upload to the latest sftp extension version and retry it please ? I've made some several changes.

[2022-09-26 23:10] Natizyskunk commented on #137
Related issues : #186, #199

[2022-09-26 23:14] Natizyskunk commented on #125
Related issues : #127, #156, #187

[2022-09-26 23:14] Natizyskunk commented on #127
Related issues : #125, #156, #187

[2022-09-26 23:14] Natizyskunk commented on #187
Related issues : #125, #127, #156

[2022-09-26 23:23] #138 closed

[2022-09-26 23:25] Natizyskunk commented on #65
Related issues : #8, #67, #150, #196

[2022-09-26 23:26] Natizyskunk commented on #67
Related issues : #8, #67, #67, #150, #196

[2022-09-26 23:35] Natizyskunk commented on #180
@yphastos,
You shoudn't have one folder with one sftp.json config file and all your rpoject in it as subfolders.
You should preferably have an `sftp.json` config file in your `.vscode/` folder for each project you want to use the extension with.

[2022-09-26 23:35] #180 closed

[2022-09-26 23:37] #175 closed

[2022-09-26 23:37] #172 closed

[2022-09-26 23:38] #168 closed

[2022-09-26 23:38] Natizyskunk commented on #168
Just update to latest version of vscode and extenion.

[2022-09-27 00:03] Natizyskunk commented on #171
Would you actually be ok to do add it to the extension and create a pull-request ?

[2022-09-27 01:17] U5B commented on #202
Unfortunately, that doesn't work for files ending in `.yml` in subfolders.

[2022-09-27 02:08] fjqingyou commented on #125
与列出来的几个issus稍微有点不同，等下班之后，我梳理下流程，做一下详细的工作环境和操作步骤反馈！

[2022-09-27 03:39] jmcpheters commented on #188
Sadly the latest release makes no difference. The debug output has the same
messages, etc. I ran all the same tests to verify it works for AL1, and it
still does not work for AL2022 (but does work with some other clients).

On Mon, Sep 26, 2022 at 5:22 PM Natan FOURIÉ ***@***.***>
wrote:

[2022-09-27 11:00] Natizyskunk commented on #188
@jmcpheters,
Sorry to hear that 😕 I'll keep an eye on this issue and let you know whenever it's fixed.?

[2022-09-27 11:02] Natizyskunk commented on #183
On my end everything work fine. All dotfiles are showing correctly.

[2022-09-27 11:03] Natizyskunk commented on #135
Related issue : #170

[2022-09-27 11:07] Natizyskunk commented on #160
I'm already using the `useTempFile` option and i'm also using `openSsh` option.

[2022-09-27 11:29] Natizyskunk commented on #202
@U5B,
Could you try to use this `**/*.yml` instead of `*.yml` in the `files` option please ?

[2022-09-27 11:30] Natizyskunk commented on #125
@fjqingyou pleasr right in English so everyone can understand.

[2022-09-27 12:17] kripper commented on #160
Enable the autoupload option and press the save shortcut many times very quickly.
Maybe your connection is too fast. If possible, try to connect to a slow/distant remote server.
I'm pretty sure this is very reproducible.
It happens when you initiate a second upload task while the first one is still running.

[2022-09-27 13:18] inorganik commented on #112
I tried all combinations of `openSsh` set to true and false and including or excluding the `diffie-hellman-group-exhange-sha256` but nothing worked

[2022-09-27 18:54] U5B commented on #202
Unfortunately that downloads all files, not just files with the ending of `.yml`

[2022-09-28 01:03] Natizyskunk commented on #202
@U5B,
Last try like this `"files": "**/*.{yml}",`. Not sure if `*/*.{yml}` also work or not.

[2022-09-28 22:58] mrandrey commented on #97
That would be great. Thanks!

[2022-09-29 01:52] b34rduck commented on #198
Same here after upgrading from 20.04 to 22.04.

I noticed in the logs on my remote server:

It seems like Ubuntu 2204 latest sshd server dropped support for ssh-rsa. I tried using "algorithms" in the docs and removing ssh-rsa but it didn't seem to work.

A temporary workaround could be editing /etc/ssh/sshd_config and adding back support by adding:

PubkeyAcceptedKeyTypes +ssh-rsa

However this is

[2022-09-29 04:00] NyaPPuu commented on #97
Related issues : #161

[2022-09-29 04:01] NyaPPuu opened #212 "Refresh does not work when file is selected in Remote Explorer"
**Do you read the FAQ?**
- [x] Yes.
- [ ] [I am going to read now.](https://github.com/Natizyskunk/vscode-sftp/blob/master/FAQ.md)

**Describe the bug**
Refresh button does not work when file is selected in Remote Explorer.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Remote Explorer.
2. Select some remote file.
3. In a way other than vcode Make changes to directory (like: make a ne

[2022-09-29 04:27] Natizyskunk commented on #212
I'm not able to reproduce your issue since when i try to follow your steps everything is xorking fine on my end.
1. In VSCode I go to the remote explorer view.
2. I preview the 'test-file.html' file.
3. I close the 'test-file.html' file preview.
3. In FileZilla I modify the 'test-file.html' file and upload it on remote.
4. In VSCode in the remote explorer view, I click refresh and preview the 'tes

[2022-09-29 04:27] #212 closed

[2022-09-29 05:09] NyaPPuu commented on #212
The list of files in the folder will not be refreshed.
I'm not talking about the contents of the file.

[2022-09-29 05:17] altrusl commented on #198
Adding this to /etc/ssh/sshd_config didn't help me

[2022-09-29 05:27] b34rduck commented on #198
Are you seeing "userauth_pubkey: key type ssh-rsa not in PubkeyAcceptedAlgorithms" in your /var/log/auth.log when you are trying to connect? That is what I was seeing and it went away after I added PubkeyAcceptedKeyTypes=+ssh-rsa and restarted sshd

Also im sure you did but after editing a **service sshd restart** is needed

[2022-09-29 05:31] altrusl commented on #198
`userauth_pubkey: key type ssh-rsa not in PubkeyAcceptedAlgorithms [preauth]`

yes, that's what i see in auth.log
and i restarted the sshd

[2022-09-29 05:35] altrusl commented on #198
This workarounf does not work all the time as can be seen from [this discussion](https://bbs.archlinux.org/viewtopic.php?id=270005)

[2022-09-29 08:22] olivdee commented on #183
Sure. Which file is it?
Inside C:\\Users\[USERNAME]\AppData\Roaming\Code\User\settings.json there isn't much info (see below). Any other config file you have in mind?
`    "cSpell.enabled": false,
    "security.workspace.trust.untrustedFiles": "open",
    "sync.gist": "",
    "sync.autoDownload": true,
    "sync.autoUpload": true,
    "sync.forceUpload": true,
    "sync.forceDownload": true,
    "

[2022-09-29 10:32] altrusl commented on #198
I was able to connect after generating a new key-pair on the Ubuntu server using ssh-keygen

[2022-09-29 19:14] Natizyskunk commented on #198
Please try to generate a new key-pair on the server using ssh-keygen.
Then you should be able to connect again.

[2022-09-29 19:19] Natizyskunk commented on #183
I was talinkg about the `sftp.json` config file in your `.vscode` folder inside your project.

In your user `settings.json` config file i can't see anything special. I suppose `sync` is another extension you're using.
Please try adding those two parameters inside your user config file and try again to see what's logged in the sftp debug pannel.

[code]

[2022-09-30 06:10] altrusl commented on #198
I tried two times but unexpectedly with that public key in `authorized_keys` file the AWS EC2 instance becomes unreachible
I have lost a lot of time with remounting the volume to another instance and deleting that key...

[2022-09-30 18:25] olivdee commented on #183
ah, I see...
this is the sftp.json of the project:
`{
    "name": "xxx.xxxxx.xxx",
    "host": "xxx.xxxxx.xxx",
    "protocol": "ftp",
    "port": 0,
    "username": "ftp@xxxxx.xxx",
    "password": "xxxxxxxxx",
    "remotePath": "/new2022/htdocs",
    "uploadOnSave": false
}`

will add the two debug related ones and report back, thanks

[2022-09-30 18:41] olivdee commented on #183
this is from the output tab right after inserting the two new lines:
`[09-30 20:39:07] [info] config at c:\git\neu.muenzankauf-muc.de {"remotePath":"/new2022/htdocs","uploadOnSave":false,"useTempFile":false,"openSsh":false,"downloadOnOpen":false,"ignore":[],"concurrency":4,"protocol":"ftp","connectTimeout":10000,"interactiveAuth":false,"secure":false,"remoteTimeOffsetInHours":0,"name":"xxx.xxxxx.x

[2022-10-01 01:57] Natizyskunk commented on #198
@altrusl,
Sorry to hear that 😕
I'll keep an eye on this issue and let you know whenever it's fixed.

[2022-10-01 01:59] Natizyskunk commented on #183
everything seems fine to me. This is inconsistent as some poeple are having the same problem but others don't have it and it doesn't seems to come from a specific configuration.
I'll keep an aeye on this and L'll keep you updated.

[2022-10-01 02:00] Natizyskunk commented on #112
@inorganik,
I'm sorry to hear that. I'll keep an eye on this issue and I'll let everyone know if a fix is found.

[2022-10-01 02:17] altrusl commented on #198
I'm used to your extension so I downgraded to ubuntu 20.
But, yes, it's a pity that it doesn't work...

[2022-10-01 12:18] inorganik commented on #112
@Natizyskunk no worries. On the bright side, I've found using the sftp CLI is pretty painless.

[2022-10-01 17:33] olivdee commented on #183
do you think it makes any sense if I install a clean VS Code on the same machine with another user?

[2022-10-02 18:07] andreherful opened #214 "sftp.json file"
Hello,

I have installed sftp extension on vs code.
if I follow the instruction to change the sftp.json file on my side when I click cmd+shift+p there is no file name inside that folder.

where do I find that file?

thank you for your help,
André

[2022-10-03 13:51] kvd999 commented on #183
i had the same problem, i changed the proftpd server config with ListOptions "-l" => ListOptions "-a", and the problem was solved, hope this help

[2022-10-04 13:46] Natizyskunk commented on #183
For those using `proftpd`, please edit this config file `/etc/proftpd.conf`.
Search for the `ListOptions` parameter and change it from `"-l"` to `"-la"`.

[2022-10-04 13:50] Natizyskunk commented on #61
Related issues : #121, #183

[2022-10-04 13:50] Natizyskunk commented on #61
Just in case for those using `proftpd`, please edit this config file `/etc/proftpd.conf`.
Search for the `ListOptions` parameter and change it from `"-l"` to `"-la"`.

[2022-10-04 13:50] Natizyskunk commented on #121
Related issues : #61, #183

[2022-10-04 13:50] Natizyskunk commented on #183
Related issues : #61, #121

[2022-10-04 13:51] Natizyskunk commented on #121
For those using proftpd, please edit this config file /etc/proftpd.conf.
Search for the ListOptions parameter and change it from "-l" to "-la".

[2022-10-04 17:30] arvislacis commented on #214
@andreherful There are at least two possible solutions:

1. Just create file manually under `.vscode/sftp.json` in your project folder;
2. When doing Ctrl/Cmd+Shilf+P then type in/search for command `SFTP: Config`, clicking on it should create mentioned file also.

[2022-10-05 15:37] laubsterboy commented on #112
Similar to @peter-vanpoucke I was able to get this working by creating a new key pair using the EdDSA algorithm instead or RSA.

[2022-10-05 15:43] laubsterboy commented on #198
Since `ssh-rsa` is no longer accepted, I had to generate a new ssh key pair using EdDSA (`ssh-keygen -t ed25519`) instead of the standard RSA, added the public key to my `authorized_keys` it's working for me.

[2022-10-05 15:53] bobbydank commented on #198
I made a temporary SSH user and allowed password login until the issue is resolved. Not ideal, but works as a temporary solution.

[2022-10-05 17:12] Goten87 opened #222 "Compleet message"
**Is this a similar or duplicate feature request?**
- [ ] I don't know. I will go check it.
- [x] No.

**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Its not a issue so no solution is needed its something I want that's not in it yet

**Describe alternatives you've considered**
I will like to get a message with upload done or upload compl

[2022-10-05 17:29] Goten87 commented on #50
im trying to block a bracket folder `"/resources/[map]"` and it seems to ignore it how can i fix this
its for my FiveM server

[2022-10-06 02:35] NyaPPuu opened #223 "Change Remote Explorer root icon"
**Is this a similar or duplicate feature request?**
- [ ] I don't know. I will go check it.
- [x] No.

**Is your feature request related to a problem? Please describe.**
I have a lot of server settings, so I sometimes get confused in remote explorer

**Describe the solution you'd like**
In Remote Explorer, change the icon for root.

before: ![image](https://user-images.githubusercontent.com/135355

[2022-10-06 15:47] olivdee commented on #183
there is no proftpd on the server as far as I can see - it is running CentOS Linux 7.9.2009 with Plesk Obsidian Version 18.0.47 Update #2 ... as I mentioned, using filezilla shows .htaccess files - do you think it is worth installing a clean vs code with your sftp extension on another user account on the same PC, or even on a total different PC and check again?

[2022-10-07 00:48] NyaPPuu commented on #183
@olivdee @godsdog
![image](https://user-images.githubusercontent.com/1353557/194442798-adc684e5-39b8-445d-8a7d-938014c7183f.png)
Is this option checked in FileZilla?

I succeeded in reproducing the error.
FileZilla:
![image](https://user-images.githubusercontent.com/1353557/194442850-e548ffe0-8033-4c94-9bc4-54a768069f27.png)
vscode-sftp:
![image](https://user-images.githubusercontent.com/1353557/1

[2022-10-07 06:44] olivdee commented on #183
@NyaPPuu no, "Force show hidden files" is not checked with my FileZilla, but .htaccess are showing there! Checked on 2 different online servers with different setup/OS...

since there is no /etc/vsftpd.conf, what should/could I do?

[2022-10-07 14:08] mau-87 commented on #111
Current I use the "autoUpload" for the dev site and for the test/prod site I use "Local to Remote"

[2022-10-08 12:48] onowecsy opened #224 "Consider using local key file instead of remote on hop"
**Is this a similar or duplicate feature request?**
- No.

**Is your feature request related to a problem? Please describe.**

The remote key file uses a file on the hop server instead of on the local machine like OpenSSH handles using `ProxyCommand`.

This issue was submitted in the previous repo here.
https://github.com/liximomo/vscode-sftp/issues/756

**Describe the solution you'd like**
Create

[2022-10-10 19:54] microwin7 commented on #110
[code]
Checked it helped but caused problem with `"downloadOnOpen": true,`
Gave me an empty file, because I suspect that it caused the file to be asynchronously downloaded when it did not exist or was not yet completely downloaded.
`Ctrl + Z` Helped me

[2022-10-11 07:34] olivdee commented on #183
what is proftpd and where is the config? not using such an extension...On Oct 3, 2022 15:51, kvd999 ***@***.***> wrote:
i had the same problem, i changed the proftpd server config with ListOptions "-l" => ListOptions "-a", and the problem was solved, hope this help

—Reply to this email directly, view it on GitHub, or unsubscribe.You are receiving this because you authored the thread.Message ID: *

[2022-10-13 14:44] #214 closed

[2022-10-13 17:23] sumonst21 opened #228 "prevent overwriting of remote file when create file though SFTP: Explorer"
**Do you read the FAQ?**
- [x] Yes.
- [ ] [I am going to read now.](https://github.com/Natizyskunk/vscode-sftp/blob/master/FAQ.md)

**Describe the bug**
I just overwrited a file without any notice when created though the SFTP: Explorer

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'SFTP Explorer'
2. Right click above host name, create new file, use name of a existing file on the host

[2022-10-16 12:43] jamesastound commented on #188
Tried to replicate with `amzn2-ami-kernel-5.10-hvm-2.0.20220912.1-x86_64-gp2` and `amzn2-ami-kernel-5.10-hvm-2.0.20220912.1-arm64-gp2` and `amzn2-ami-hvm-2.0.20220912.1-x86_64-gp2`
@Natizyskunk/SFTP v1.15.19
VSCode Version: 1.72.2 (Universal/MacOS)

Config:
[code]

All worked as expected.

Tried mix of x86/arm64 and diff kernel versions.

[code]

I usually use Ubuntu, not AWS-Linux, but with newer

[2022-10-16 12:46] jamesastound commented on #188
Might be related to #198

[2022-10-19 07:42] NyaPPuu commented on #110
I checked that there is a problem when sending file from a case-insensitive OS to a case-sensitive OS.
like windows → linux.
In Windows, changing the case of the file name does not change uri on the vscode.

I found this solution for get case-sensitive real path in windows : https://stackoverflow.com/a/63760951
And I am testing the code by modifying it as follows:
`src\modules\fileActivityMonitor.

[2022-10-20 02:35] fharper commented on #151
The initial request if for Windows, but I assume it would be the same for macOS users. I moved all my SSH keys to 1Password, and it's working wonderfully with everything else using SSH :)

[2022-10-20 17:27] jmcpheters commented on #188
One of the first things I tried when troubleshooting was to use a new key pair, but I generated it using the AWS default of RSA.

I tried a new ED25519 key pair and I can connect no problem.

Problem resolved. Yeah!

[2022-10-20 17:27] #188 closed

[2022-10-21 02:08] Natizyskunk commented on #161
@NyaPPuu,
The `Download File` & `Downalod Folder` features in the remote explorer has been added in the latest 1.15.20 release.
For the `Upload File` & `Upload folder` this has no sense to add those in the remote explorer because you wouldn't upload on the remote a file that is already on the remote (because this is what you're browsing).
If you wnat to upload a file or a folder just use the defau

[2022-10-21 02:08] #161 closed

[2022-10-21 02:45] NyaPPuu commented on #161
@Natizyskunk
If you set the sidebar to open only one tab,
You must find and edit files in Remote Explorer, then reopen Local Explorer, locate and upload files.

Local Explorer also has both download and upload. This is not strange.

[2022-10-21 03:10] Natizyskunk commented on #161
I see, That not wrong. I'll take a look ok.

[2022-10-21 03:22] Natizyskunk commented on #198
As @jmcpheters explain it in [his comment](https://github.com/Natizyskunk/vscode-sftp/issues/188#issuecomment-1285906725) on the issue #188. You can try this :

[2022-10-21 03:24] Natizyskunk commented on #110
@NyaPPuu If everything work correctly can you open a new pull-request please ? 🙂

[2022-10-21 07:35] musosoft opened #233 "Warn when uploading over newer file"
**Is this a similar or duplicate feature request?**
The same feature request was discussed in the original SFTP extension's repo https://github.com/liximomo/vscode-sftp/issues/215

**Is your feature request related to a problem? Please describe.**
If I have the project downloaded locally, make some changes and save it, the file will automatically upload to the remote without checking if my local f

[2022-10-21 19:54] Yusuke1998 opened #234 "integrate .pem file for login"
Is it possible to implement login with file_access.pem in sftp protocol?

[2022-10-23 04:40] Natizyskunk commented on #234
@Yusuke1998,
Please respect the [feature_request template](https://github.com/Natizyskunk/vscode-sftp/blob/develop/.github/ISSUE_TEMPLATE/feature_request.md) and give more details 🙂

[2022-10-23 04:40] #234 closed

[2022-10-24 08:47] reutli opened #235 "sftp connection failed with "SFTP: Inbound: Packet length 1416128883 exceeds max length of 262144""
**Do you read the FAQ?**
- [X ] Yes.
- [ ] [I am going to read now.](https://github.com/Natizyskunk/vscode-sftp/blob/master/FAQ.md)

**Describe the bug**
Trying to connect to the sftp server ends up in an error.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - OS: MAC
 - VSCode Version 1.72.2
 - Extension Ver

[2022-10-27 01:58] showtan001 opened #237 "read ECONNRESET at TCP.onStreamRead"
**Describe the bug**
[10-27 09:49:46] [error] Error: read ECONNRESET
    at TCP.onStreamRead (node:internal/stream_base_commons:217:20) when local ➞ remote /Users/abon/Projects/insiga/wwwroot/templets/insaga/css/allstyle.css

**To Reproduce**
Steps to reproduce the behavior:
An error is reported during upload. The file uploaded to the server is incomplete

**Screenshots**
![image](https://user-ima

[2022-10-27 20:00] ProtocolLive opened #240 "Rename file"
When i rename a file modifying only the first letther to upper case, the extension keep sending the file with lower case...

![image](https://user-images.githubusercontent.com/39626142/198386509-587881ac-4c7f-4818-b775-0580abbebfcd.png)
![image](https://user-images.githubusercontent.com/39626142/198386467-30bdb487-59f8-4895-9a25-a6d020c8c435.png)

Extension: v1.15.20

[2022-10-28 00:19] NyaPPuu commented on #240
duplicate: #24 #86 #110

[2022-10-28 13:24] parnanzio opened #241 "Add a way to upload files from a git commit"
Hello there! Is there a way to upload the files from a git commit (or a subset) with a single command?

A command like "Upload all files changed or created since the last commit to your Git", but for files already committed.

Or maybe directly from the Git Graph (don't know if it possible) or the git commit panel.

[2022-10-29 03:54] #47 closed

[2022-10-29 03:54] #133 closed

[2022-10-29 03:54] #134 closed

[2022-10-31 10:42] jayyren commented on #202
is there an option to exclude files from watching?

[2022-10-31 20:12] sanaazmeh commented on #234
That would be great!

[2022-11-01 04:00] #142 closed

[2022-11-01 04:58] NyaPPuu commented on #184
I succeeded in making the file on the left read-only,
There's a problem with the encoding breaking
I'll see if there's another way.

https://github.com/NyaPPuu/vscode-sftp/compare/develop...fix_diff_new

[2022-11-01 05:28] NyaPPuu commented on #110
@Natizyskunk
I don't have a problem.
But I only use Windows, so I have to check if there are any problems with other OSs.

[2022-11-01 05:59] ElMarko34 commented on #110
Hi.
I tested and this bug still exists

Test procedure (Windows computer to linux ftp target environment)

1) on visual studio: create file: test.php with "hello world" code
2) press ctrl-S -> file is sent to server
3) go to http://www.myserver.com/test.php -> it prompt hello world
4) close test.php
5) rename test.php to Test.php (letter case from t to T)
6) open Test.php and modify "hello world"

[2022-11-01 06:14] NyaPPuu commented on #110
@ElMarko34
Did you test with #249 ?

[2022-11-02 15:34] stevenkoelma opened #250 "Cannot parse privateKey"
With the config below, I can't download my project in a wsl ubuntu environment. I get this error:

`Cannot parse privateKey: Unsupported OpenSSH private key type: ssh-ed25519.`

I'm sure that my key is added to the server. Within wsl I can login with ssh. Also on windows with filezilla, with the same key.

Is this right? Can I do something else? Or do you need more information?

[code]

[2022-11-02 20:39] Natizyskunk commented on #97
Merged in pull request #251 🙂

[2022-11-02 20:39] #97 closed

[2022-11-02 20:57] flipkickmedia commented on #250
I can confirm this issue also.

In the extension log you get the following error:
`[11-02 20:54:37] [error] Error: Cannot parse privateKey: Unsupported OpenSSH private key type: ssh-ed25519`

[2022-11-02 21:18] Natizyskunk commented on #86
Realted issues : #24 #110 #240.
Should be fixed in the next update (v1.16.2).

[2022-11-02 21:19] Natizyskunk commented on #110
@ElMarko34,
Some updates ?

[2022-11-02 21:22] #201 closed

[2022-11-02 21:28] Natizyskunk commented on #202
@jayyren,
Just add it to your 'ignore' list.

[2022-11-02 21:28] #202 closed

[2022-11-02 22:16] Natizyskunk opened #254 "Connection: Add option to specify keep-alive behaviour on connect"
[Connection: Add option to specify keep-alive behaviour on connect](https://github.com/mscdex/node-ftp/pull/192/files) from @mscdex.

[2022-11-02 22:16] Natizyskunk opened #255 "Add FTP active mode capability"
[Add FTP active mode capability](https://github.com/mscdex/node-ftp/pull/176/files) from @mscdex.

[2022-11-03 09:29] janis-ps commented on #183
I discovered that the -la switch to FTP list command was removed here due to partial support: https://github.com/liximomo/vscode-sftp/commit/c2608f7573e8169fae1e72b6e254ea7ee292dfa3

Maybe it could be re-added as an option?

[2022-11-07 15:21] flipkickmedia commented on #250
Are you open to PRs?

[2022-11-07 23:13] Natizyskunk commented on #250
@flipkickmedia,

Yes, you just have to respect [this template](https://github.com/Natizyskunk/vscode-sftp/blob/develop/.github/ISSUE_TEMPLATE/pull_request.md) 🙂

[2022-11-10 09:57] hwd-2020 opened #256 "设置 context 后，同步时报错 Config Not Found"
执行 `Sync Local -> remote` 时，报错 Config Not Found.

配置信息：
[code]

输出的信息：
[code]

[2022-11-11 10:50] simkoG opened #257 "Wiki typo"
**Do you read the FAQ?**
- [x] Yes.
- [ ] [I am going to read now.](https://github.com/Natizyskunk/vscode-sftp/blob/master/FAQ.md)

**Describe the bug**
I've found a typo inside the Wiki.

**To Reproduce**
Steps to reproduce the behavior:
1. Open https://github.com/Natizyskunk/vscode-sftp/wiki/Common-Configuration#remtoepath

**Expected behavior**
"remotePath" instead of "remtoePath".

**Screensho

[2022-11-11 15:48] lucaele commented on #183
Any fix for show dot files like .env?
I'm using SFTP ver 1.16.1

[2022-11-12 02:41] Natizyskunk commented on #183
@lucaele,
Yes that's because when you're using the sftp protocol, we set the parameter `showHiddenFiles` to TRUE in the `list()` command but when using the ftp protocol, we set the parameter `showHiddenFiles` to FALSE in the `list()` command that has the effect to remove the `-al` options from the ftp `LIST` command.

@janis-ps,
Thanks, I will take a look at it more in depth.

[2022-11-16 05:50] xingkongwuhen opened #259 "The Chinese directory is garbled"
**Do you read the FAQ?**
- [ ] Yes.
- [ ] [I am going to read now.](https://github.com/Natizyskunk/vscode-sftp/blob/master/FAQ.md)

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
1. Create ftp. The use type is FTP. Port: 21;
2. After connecting to ftp, the files or folders named by letters and numbers are normal, but the files or folders named in Chinese

[2022-11-16 05:51] #199 closed

[2022-11-17 01:56] Natizyskunk commented on #256
You're trying to connect to 192.168.0.1 ? Isn't this the address of your router ?
Also try `D:\\dev\\` as your path, maybe it isn't correctly syntaxed.

[2022-11-17 02:00] Natizyskunk commented on #259
@xingkongwuhen,
I'll take a look at it.

[2022-11-17 02:03] Natizyskunk commented on #259
Related issues : #137, #186

[2022-11-17 13:09] Goldmaster opened #262 "typing in SFTP: config in terminal of web ust bring up command not found."
**Do you read the FAQ?**
- [X] Yes.
- [] [I am going to read now.](https://github.com/Natizyskunk/vscode-sftp/blob/master/FAQ.md)

**Describe the bug**
I have code server installed on unraid and i tried setting up the ftp plugin, i did see any settings for filling out ftp info, the only part i did see to open a terminal and type `sftp: config` which i get command not found. if i type `sftp` i get

[2022-11-20 05:27] erfanmola opened #263 "Self Signed Certificate Error"
Hi, I have the settings below and using vsftpd on my server with a self signed certificate :

[code]

and Im getting an empty error message, describing nothing:
[code]

I have tested same credentials in FileZilla and was able to connect successfuly, it's weird that the error is just empty

[2022-11-20 07:14] #263 closed

[2022-11-20 17:12] tlcd96 opened #264 "Add Feature - Ignore passive address"
**Is this a similar or duplicate feature request?**
- [ ] I don't know. I will go check it.
- [x] No.

**Is your feature request related to a problem? Please describe.**
Yes i have several servers behind a routing server, and the passive ip reports the internal ip

**Describe the solution you'd like**
when enters the passive mode, check if a setting like `ignore_passive_address` to see if the sftp

[2022-11-20 17:13] tlcd96 opened #265 "Add Feature - Upload on Changed"
**Is this a similar or duplicate feature request?**
- [x] I don't know. I will go check it.
- [ ] No.

**Is your feature request related to a problem? Please describe.**
no.

**Describe the solution you'd like**
when a file is changed, check a setting like `uploadOnChange` to see if sftp should upload the changed file (not the save files)

**Describe alternatives you've considered**
there's none

[2022-11-23 22:29] rodgersl commented on #183
hey @Natizyskunk just wanted to check if you had made any progress on this issue?

I have a similar issue with a CentOS Plesk server, connecting with this extension I can't see hidden / dot files but if I connect with another FTP client I can see them no problem.

Thanks for your work on this extension, it's really appreciated 😀

[2022-11-25 17:29] hruboson opened #266 "Character "¨" added at the end of hostname for no reason"
**Do you read the FAQ?**
- [x] Yes.

**Describe the bug**
"¨" character is added to end of string of host name ending with character z and length of 19.
The problem is only with host name `merlin.fit.vutbr.cz` but not `merlin.fit.vutbr.z` or `merlin.fit.vutbr.cs`.
I also checked for invisible characters but there are none. Tried to reinstall extension but also didn't work. Tried to create new file

[2022-11-28 03:39] Natizyskunk opened #267 "test"
**Description of the change**: test

**Reason for the change**: test

**Link to original source**: test

[2022-11-28 03:39] #267 closed

[2022-11-28 03:44] Natizyskunk commented on #265
@tlcd96,
You should already be able to do that using the `watcher.autoUpload` parameter inside your sftp.json config file.
You can find [here](https://github.com/Natizyskunk/vscode-sftp/wiki/Configuration#watcherautoupload) how to do it.

[2022-11-28 03:47] #256 closed

[2022-11-28 03:51] #265 closed

[2022-11-29 13:21] danielrepos opened #270 "SFTP create an alternate "resources" folder when I save a file under Laravel "Modules""
**Do you read the FAQ?**
- [ ] Yes.
- [ ] [I am going to read now.](https://github.com/Natizyskunk/vscode-sftp/blob/master/FAQ.md)

**Describe the bug**
I'm using SFTP extension on VS code to view my changes directly on a server but when I save a file under Laravel "Modules", it create an alternate "resources/views" folder instead of just saving the file like my local structure (Resources/views).

[2022-11-29 18:24] antivanity commented on #240
Would love to use SFTP, however this bug stops me from using it. When is 1.16.2 coming out?

[2022-11-29 18:56] Natizyskunk commented on #240
@ProtocolLive, @antivanity,
A specific `fix-case-rename` version that work with Windows will be added to the Release section but it'll not be added directly to the v1.16.2 unless I'm sure that it work with mac and linux.

[2022-11-29 22:52] Natizyskunk commented on #270
@danielrepos,
I'm not sure about what the problem is. Can you be more precise and add some picutres maybe ?
Also please respect the issue template available [here](https://github.com/Natizyskunk/vscode-sftp/issues/new/choose) when opening a new issue. In your case you should use the "[Bug report](https://github.com/Natizyskunk/vscode-sftp/issues/new?assignees=&labels=&template=bug_report.md&title=

[2022-11-29 23:00] Natizyskunk commented on #270
Related issues : #24, #86 #110 #240
Should be fixed in the next update (v1.16.2).

[2022-11-29 23:00] Natizyskunk commented on #270
@danielrepos,
I'm not sure about what the problem is. Can you be more precise and add some picutres maybe ?
Also please respect the issue template available [here](https://github.com/Natizyskunk/vscode-sftp/issues/new/choose) when opening a new issue. In your case you should use the "[Bug report](https://github.com/Natizyskunk/vscode-sftp/issues/new?assignees=&labels=&template=bug_report.md&title=

[2022-11-29 23:05] Natizyskunk commented on #110
@ElMarko34, @microwin7,
A specific `fix-case-rename` version that work with Windows will be added to the Release section but it'll not be added directly to the v1.16.2 untill I'm sure it also work with Mac and Linux.

[2022-11-29 23:05] #110 closed

[2022-11-29 23:06] Natizyskunk commented on #86
@kevin8990,
A specific `fix-case-rename` version that work with Windows will be added to the Release section but it'll not be added directly to the v1.16.2 untill I'm sure it also work with Mac and Linux.

[2022-11-29 23:07] Natizyskunk commented on #24
@mooseh,
A specific `fix-case-rename` version that work with Windows will be added to the Release section but it'll not be added directly to the v1.16.2 untill I'm sure it also work with Mac and Linux.

[2022-11-30 01:28] Natizyskunk commented on #240
@antivanity, @ProtocolLive,
I've published a new `pre-v1.16.2` pre-release that should fix your problem. You can download it [here](https://github.com/Natizyskunk/vscode-sftp/releases/tag/pre-v1.16.2) or directly from VSCode.
![image](https://user-images.githubusercontent.com/59120131/204685005-69a0b836-cf8f-4187-ae7a-295c5ceddc72.png)
![image](https://user-images.githubusercontent.com/59120131/20

[2022-11-30 01:28] #240 closed

[2022-11-30 01:29] Natizyskunk commented on #24
@mooseh,
I've published a new `pre-v1.16.2` pre-release that should fix your problem. You can download it [here](https://github.com/Natizyskunk/vscode-sftp/releases/tag/pre-v1.16.2) or directly from VSCode.
![image](https://user-images.githubusercontent.com/59120131/204685005-69a0b836-cf8f-4187-ae7a-295c5ceddc72.png)
![image](https://user-images.githubusercontent.com/59120131/204685143-2c3be7cb-ec

[2022-11-30 01:29] Natizyskunk commented on #86
@kevin8990,
I've published a new `pre-v1.16.2` pre-release that should fix your problem. You can download it [here](https://github.com/Natizyskunk/vscode-sftp/releases/tag/pre-v1.16.2) or directly from VSCode.
![image](https://user-images.githubusercontent.com/59120131/204685005-69a0b836-cf8f-4187-ae7a-295c5ceddc72.png)
![image](https://user-images.githubusercontent.com/59120131/204685143-2c3be7cb

[2022-11-30 01:29] Natizyskunk commented on #110
@ElMarko34, @microwin7,
I've published a new `pre-v1.16.2` pre-release that should fix your problem. You can download it [here](https://github.com/Natizyskunk/vscode-sftp/releases/tag/pre-v1.16.2) or directly from VSCode.
![image](https://user-images.githubusercontent.com/59120131/204685005-69a0b836-cf8f-4187-ae7a-295c5ceddc72.png)
![image](https://user-images.githubusercontent.com/59120131/204685

[2022-11-30 01:29] Natizyskunk commented on #270
@danielrepos,
I've published a new `pre-v1.16.2` pre-release that should fix your problem. You can download it [here](https://github.com/Natizyskunk/vscode-sftp/releases/tag/pre-v1.16.2) or directly from VSCode.
![image](https://user-images.githubusercontent.com/59120131/204685005-69a0b836-cf8f-4187-ae7a-295c5ceddc72.png)
![image](https://user-images.githubusercontent.com/59120131/204685143-2c3be7

[2022-11-30 01:29] #270 closed

[2022-11-30 10:38] Razielthc opened #273 "Error al sincronizar enlace simbolico"
[11-30 04:25:54] [error] Error: ENOENT: no such file or directory, open 'c:\Users\MIS Soporte\Documents\sipsa.tk\public\storage' when remote ➞ local c:\Users\MIS Soporte\Documents\sipsa.tk\public\storage

Recibo el siguiente error al sincronizar los archivos desde mi servidor al parecer el error se da al querer descargar un enlace simbólico

Servidor AlmaLinux
Cliente Windows 10

los archivos que

[2022-11-30 11:27] danielrepos commented on #270
Thank you very much, and I'm really sorry about the template.

[2022-11-30 14:47] #273 closed

[2022-11-30 14:48] Natizyskunk commented on #273
@Razielthc Please respect the `Bug report` issue termplate available [here](https://github.com/Natizyskunk/vscode-sftp/issues/new/choose) when opening a new issue. Also please write in english.

[2022-11-30 14:51] Natizyskunk commented on #270
You're welcome. No problem. Let me knoow if it fix your bug.